@charset "UTF-8";
@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/AvenirNext/AvenirNext-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/AvenirNext/AvenirNext-UltraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/AvenirNext/AvenirNext-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/AvenirNext/AvenirNext-DemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/AvenirNext/AvenirNext-Bold.ttf") format("truetype");
  font-weight: bold;
}
object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
}

b, strong, th {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

sub, sup {
  font-size: 75%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 20px 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}

ol, ul, li {
  padding: 0;
  list-style: none;
  margin: 0;
}

label {
  font-weight: normal;
}

input[type=text], input[type=email], input[type=password] {
  padding-left: 12px;
  padding-right: 12px;
}

select {
  padding-left: 8px;
  cursor: pointer;
}

input[type=number] {
  padding-left: 5px;
}

textarea {
  padding: 8px 12px 5px 12px;
}

input, textarea, select, button, a, button:hover, button:active, button:focus {
  outline: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

* {
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-top: constant(safe-area-inset-top);
}

img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.col-xl-f20, .col-lg-f20, .col-md-f20, .col-sm-f20, .col-f20 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-f20 {
  flex: 0 0 20%;
  max-width: 20%;
}

@media (min-width: 576px) {
  .col-sm-f20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 768px) {
  .col-md-f20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 992px) {
  .col-lg-f20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1200px) {
  .col-xl-f20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
.pad-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.pad-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.pad-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.pad-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.col-mar-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.col-mar-0 > [class*=col-], .col-mar-0 > .col, .col-mar-0 > [class^=col-] {
  padding-left: 0px;
  padding-right: 0px;
}

.col-mar-5 {
  margin-left: -5px;
  margin-right: -5px;
}
.col-mar-5 > [class*=col-], .col-mar-5 > .col, .col-mar-5 > [class^=col-] {
  padding-left: 5px;
  padding-right: 5px;
}

.col-mar-8 {
  margin-left: -8px;
  margin-right: -8px;
}
.col-mar-8 > [class*=col-], .col-mar-8 > .col, .col-mar-8 > [class^=col-] {
  padding-left: 8px;
  padding-right: 8px;
}

.col-mar-10 {
  margin-left: -10px;
  margin-right: -10px;
}
.col-mar-10 > [class*=col-], .col-mar-10 > .col, .col-mar-10 > [class^=col-] {
  padding-left: 10px;
  padding-right: 10px;
}

.fx-mid {
  align-items: flex-center;
}

.fx-bot {
  align-items: flex-end;
}

.ifx-top {
  align-self: flex-start;
}

.ifx-bot {
  align-self: flex-end;
}

.ifx-mid {
  align-self: flex-center;
}

.jc-center {
  justify-content: center;
}

.jc-bet {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.static {
  position: static;
}

.absolute {
  position: absolute;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ic {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.smooth {
  transition: all 0.2s ease-in-out;
}

@media all and (max-width: 991px) {
  .md-center {
    text-align: center !important;
  }

  .md-left {
    text-align: left !important;
  }

  .md-right {
    text-align: right !important;
  }

  .md-none {
    display: none;
  }

  .md-pad-7 {
    margin: 0 -7px;
  }
  .md-pad-7 > [class^=col-] {
    padding: 0 7px;
  }

  .md-pad-5 {
    margin: 0 -5px;
  }
  .md-pad-5 > [class^=col-] {
    padding: 0 5px;
  }
}
@media all and (max-width: 767px) {
  .sm-center {
    text-align: center !important;
  }

  .sm-left {
    text-align: left !important;
  }

  .sm-right {
    text-align: right !important;
  }

  .sm-none {
    display: none;
  }

  .sm-pad-7 {
    margin: 0 -7px;
  }
  .sm-pad-7 > [class^=col-] {
    padding: 0 7px;
  }

  .sm-pad-5 {
    margin: 0 -5px;
  }
  .sm-pad-5 > [class^=col-] {
    padding: 0 5px;
  }

  .tb-responsive {
    display: block;
  }
  .tb-responsive tbody, .tb-responsive tfoot, .tb-responsive tr, .tb-responsive th, .tb-responsive td {
    display: block;
  }
  .tb-responsive thead {
    display: none;
  }
  .tb-responsive tr:nth-child(2n) {
    background: #f5f5f5;
  }
  .tb-responsive td {
    position: relative;
    padding: 10px 10px 10px 50%;
  }
  .tb-responsive td:before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    width: 50%;
    padding-right: 15px;
  }
}
@media all and (max-width: 575px) {
  .xs-center {
    text-align: center !important;
  }

  .xs-left {
    text-align: left !important;
  }

  .xs-right {
    text-align: right !important;
  }

  .xs-none {
    display: none;
  }

  .xs-pad-7 {
    margin: 0 -7px;
  }
  .xs-pad-7 > [class^=col-] {
    padding: 0 7px;
  }

  .xs-pad-5 {
    margin: 0 -5px;
  }
  .xs-pad-5 > [class^=col-] {
    padding: 0 5px;
  }
}
.slick-list {
  margin: 0 -15px;
}
.slick-list .slick-slide {
  margin: 0 15px;
}

.slick-arrow {
  cursor: pointer;
  z-index: 1;
  text-align: center;
  position: absolute;
}

.slick-dots {
  text-align: center;
}
.slick-dots button {
  display: none;
}
.slick-dots li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border: solid 2px #666;
  border-radius: 50%;
  cursor: pointer;
}
.slick-dots li.slick-active {
  background: #666;
}

.i-select {
  position: relative;
}
.i-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: "";
  width: 100%;
}

.s-content {
  word-break: break-word;
}
.s-content a[href] {
  color: #007bff;
}
.s-content a[href]:hover {
  text-decoration: underline;
}
.s-content a, .s-content a:hover, .s-content a:focus, .s-content a:active {
  text-decoration: underline;
}
.s-content ol {
  list-style: decimal;
  margin-left: 15px;
  margin-bottom: 10px;
}
.s-content ul {
  list-style: initial;
  margin-left: 15px;
  margin-bottom: 10px;
}
.s-content li {
  list-style: inherit;
  margin-bottom: 5px;
}
.s-content p {
  margin-bottom: 10px;
}
.s-content img {
  max-width: 100%;
  height: auto !important;
  margin: 10px auto;
  object-fit: initial;
}
.s-content .alignleft, .s-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.s-content .alignright, .s-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.s-content .aligncenter, .s-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
.s-content blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}
.s-content blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}
.s-content table, .s-content iframe {
  max-width: 100%;
  max-width: calc(100vw - 30px);
  margin: auto;
}
.s-content table th, .s-content table td {
  border: solid 1px #666;
  border-collapse: collapse;
}
.s-content iframe {
  display: block;
}
.s-content figure {
  margin: 0 0 1rem;
}
.s-content h1, .s-content h2, .s-content h3, .s-content h4, .s-content h5, .s-content h6 {
  font-weight: bold;
}
.s-content h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}
.s-content h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}
.s-content h3 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.s-content h4 {
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}
.s-content h5 {
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}
.s-content h6 {
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

.table {
  display: table;
  margin: 0;
}
.table .line {
  display: table-row;
}
.table .cell {
  display: table-cell;
  vertical-align: middle;
}
.table.top .cell {
  vertical-align: top;
}
.table.bot .cell {
  vertical-align: bottom;
}

.c-img {
  display: block;
  position: relative;
}
.c-img img, .c-img .bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.c-img2 {
  position: relative;
}
.c-img2:before {
  content: "";
  padding-top: 100%;
  display: block;
  visibility: hidden;
}
.c-img2 img, .c-img2 .bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.hc-upload {
  position: relative;
}
.hc-upload .hc-del {
  position: absolute;
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 21px;
  line-height: 1;
  text-align: center;
  border-radius: 50%;
  top: -12px;
  right: -12px;
  cursor: pointer;
}
.hc-upload .hc-del:hover {
  background: rgba(0, 0, 0, 0.85);
}

.over-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

body {
  font-size: 14px;
  font-family: "AvenirNext";
  line-height: 1.5;
  color: #333;
  background: #f1f2f7;
}

.m-tab-btn {
  display: none;
}

.ic-plus {
  width: 14px;
  height: 14px;
  background-image: url("../images/plus.svg");
}

.ic-search {
  width: 20px;
  height: 20px;
  background-image: url("../images/search.svg");
}

.ic-search-white {
  width: 20px;
  height: 20px;
  background-image: url("../images/search.png");
}

.ic-plus2 {
  width: 18px;
  height: 18px;
  background-image: url("../images/plus.png");
}

.ic-eye {
  width: 20px;
  height: 14px;
  background-image: url("../images/eye.svg");
}
.ic-eye.off {
  filter: grayscale(100%);
  opacity: 0.5;
}

.ic-up {
  width: 15px;
  height: 11px;
  background-image: url("../images/up.svg");
}
.ic-up.big {
  width: 26px;
  height: 24px;
  background-size: 100% 100%;
}

.ic-down {
  width: 15px;
  height: 11px;
  background-image: url("../images/down.svg");
}
.ic-down.big {
  width: 26px;
  height: 24px;
  background-size: 100% 100%;
}

.i-select:after {
  font-size: 0;
  content: "";
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #000;
}

.break-10 {
  height: 10px;
}

.break-15 {
  height: 15px;
}

.style-3::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #fff;
  background-color: #f0f0f0;
}

.style-3::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #818181;
}

.style-3::-webkit-scrollbar-thumb {
  background-color: #818181;
  border-radius: 10px;
}

.style-3 {
  scrollbar-color: #818181 #f0f0f0;
  scrollbar-width: thin;
}

header {
  z-index: 9;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  box-shadow: 0 2px 14px 0 #cdd1ff;
}
header .logo {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}
header .logo img {
  display: block;
  height: 58px;
}
@media all and (max-width: 1199px) {
  header .logo img {
    height: 44px;
  }
}
header .top {
  background: #000;
}
@media all and (max-width: 991px) {
  header .top {
    display: none;
  }
}

.h-hotline {
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  line-height: 20px;
}
.h-hotline strong {
  color: #faad42;
}
.h-hotline:hover {
  color: #fff;
}

@media all and (min-width: 992px) {
  .nav-top {
    text-align: right;
    padding: 5px 0 6px 0;
  }
  .nav-top li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 58px;
  }
  .nav-top li:last-child {
    margin-right: 0;
  }
  .nav-top li a {
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    line-height: 20px;
  }
  .nav-top li a strong {
    color: #faad42;
  }
  .nav-top li a:hover {
    color: #faad42;
  }
}

.header {
  padding: 18px 0 17px 0;
}

.main-nav > ul {
  font-size: 0;
}
.main-nav > ul > li {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  margin-right: 40px;
}
.main-nav > ul > li:last-child {
  margin-right: 0;
}
.main-nav > ul > li > a {
  display: block;
  text-transform: capitalize;
  color: #555;
  font-weight: 600;
}
.main-nav > ul > li:hover > a {
  color: #004266;
}
.main-nav li {
  position: relative;
  text-align: left;
}
.main-nav li ul {
  position: absolute;
  min-width: 220px;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  margin-top: 10px;
  pointer-events: none;
  opacity: 0;
  padding-top: 5px;
}
.main-nav li ul ul {
  left: 100%;
  top: 0;
  padding-top: 0;
  padding-left: 5px;
}
.main-nav li ul a {
  background: rgba(0, 66, 102, 0.85);
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  padding: 10px 15px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}
.main-nav li ul li:hover > a {
  background: #004266;
}
.main-nav li ul li:last-child > a {
  border-bottom: none;
}
.main-nav li:hover > ul {
  margin-top: 0;
  pointer-events: all;
  opacity: 1;
}
@media all and (max-width: 1199px) {
  .main-nav > ul > li {
    margin-right: 15px;
    font-size: 13px;
  }
}

.m-nav-open {
  display: none;
}

.message-wrap {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #e0e2f3;
  cursor: pointer;
}
.message-wrap .notification {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ea053b 0%, #d0021b 100%);
  border: solid 2px #e0e2f3;
}
@media all and (max-width: 1199px) {
  .message-wrap {
    background: transparent;
  }
  .message-wrap .notification {
    border: solid 2px #fff;
  }
}

.h-account {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-right: 25px;
  cursor: pointer;
}
.h-account.link {
  font-weight: 600;
  color: #004266;
}
.h-account.link:hover {
  color: #e02020;
}
.h-account.link:after {
  content: none;
}
.h-account:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #000;
  position: absolute;
  right: 0;
  top: 8px;
}
.h-account .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
.h-account .avatar img {
  width: 100%;
  height: 100%;
}
.h-account .avatar::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  top: -4px;
  left: -4px;
  border-radius: 50%;
  border: 1px solid #4a8bc6;
}
.h-account .avatar::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  right: -8px;
  bottom: 3px;
  background-image: url("../images/member-normal.png");
  background-size: cover;
}
.h-account.silver .avatar::before {
  border: 1px solid #006df0;
}
.h-account.silver .avatar::after {
  background-image: url("../images/member-silver.png");
}
.h-account.gold .avatar::before {
  border: 1px solid #fad961;
}
.h-account.gold .avatar::after {
  background-image: url("../images/member-gold.png");
}
.h-account .name {
  font-size: 14px;
  color: #555;
  font-weight: bold;
  line-height: 1;
  margin-top: 5px;
}
.h-account span {
  font-size: 11px;
  color: #004266;
  line-height: 13px;
}
.h-account .pane {
  position: absolute;
  width: 144px;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #fff;
  left: 0;
  top: 100%;
  z-index: 1;
  margin-top: 10px;
  padding: 5px 15px 2px 15px;
  display: none;
  z-index: 2;
  cursor: auto;
}
.h-account .pane a {
  display: block;
  font-weight: 500;
  line-height: 32px;
  color: #000;
  padding: 0 10px;
}
.h-account .pane a:hover {
  color: #004266;
}
.h-account .pane li:last-child {
  border-top: solid 1px rgba(151, 151, 151, 0.2);
}
@media all and (max-width: 991px) {
  .h-account {
    display: none;
  }
}

.acd-drop:after {
  content: "+";
}
.acd-drop.active:after {
  content: "−";
}

.message-wrap .pane {
  position: absolute;
  width: 294px;
  max-height: 300px;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #fff;
  right: -10px;
  top: 100%;
  z-index: 1;
  margin-top: 10px;
  padding: 10px 0 44px;
  display: none;
  cursor: auto;
}
.message-wrap .pane .ct-message-wrap {
  display: flex;
  padding: 12px;
}
.message-wrap .pane .ct-message-wrap img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.message-wrap .pane .ct-message-wrap .ct {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}
.message-wrap .pane .ct-message-wrap .ct .text {
  color: #000;
  margin-bottom: 3px;
}
.message-wrap .pane .ct-message-wrap .ct .time {
  color: #565656;
  font-size: 12px;
}
.message-wrap .pane .ct-message-wrap .ct.unread .text {
  color: #004266;
}
.message-wrap .pane ul {
  max-height: 245px;
  overflow: auto;
}
.message-wrap .pane ul li:not(:last-child) {
  border-bottom: 0.5px solid #cfcfcf;
}
.message-wrap .pane .tick-read {
  height: 44px;
  border-top: 0.5px solid #cfcfcf;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #004266;
  cursor: pointer;
}

@media all and (min-width: 992px) {
  .m-nav,
.m-nav-over {
    display: none !important;
  }

  header.fixed {
    position: fixed;
    box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.5);
  }
  header.fixed .top {
    display: none;
  }
}
@media all and (max-width: 991px) {
  .menu-btn {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 1;
  }
  .menu-btn i {
    display: block;
    margin: auto;
    border-top: solid 2px #004266;
    width: 17px;
    border-bottom: double 7px #004266;
    height: 12px;
  }
  .menu-btn.act i {
    width: auto;
    height: auto;
    border: none;
  }
  .menu-btn.act i:after, .menu-btn.act i:before {
    content: "";
    display: block;
    margin: auto;
    width: 17px;
    border-bottom: solid 2px #004266;
  }
  .menu-btn.act i:after {
    transform: rotate(-45deg);
    margin-top: -2px;
  }
  .menu-btn.act i:before {
    transform: rotate(45deg);
  }
  .menu-btn.v2 {
    background: #004266;
  }
  .menu-btn.v2 i {
    border-color: #fff;
  }
  .menu-btn.v2.act i:after, .menu-btn.v2.act i:before {
    border-color: #fff;
  }

  .main-nav {
    display: none;
  }

  .m-nav-over {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.15s ease-in-out;
    cursor: pointer;
  }

  .m-nav {
    display: block;
    position: fixed;
    top: 0;
    width: 280px;
    bottom: 0;
    z-index: 999;
    color: #fff;
    background: #333;
    transition: all 0.25s ease-in-out;
    right: -280px;
  }
  .m-nav.active {
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.15);
    right: 0;
  }
  .m-nav.active .m-nav-close {
    visibility: visible;
    opacity: 1;
  }
  .m-nav .m-nav-close {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    right: 100%;
    background: #444;
    outline: none;
    color: #fff;
    font-size: 27px;
    cursor: pointer;
    transition: inherit;
    opacity: 0;
    visibility: hidden;
    font-family: initial;
  }
  .m-nav .nav-ct {
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;
  }
  .m-nav .nav-ct > ul a {
    display: block;
    font-size: 14px;
    font-family: arial;
    line-height: 20px;
    padding: 10px 15px 10px 18px;
    border-bottom: solid 1px #444;
    position: relative;
  }
  .m-nav .nav-ct > ul a.h-account {
    color: white;
    font-weight: normal;
  }
  .m-nav .nav-ct > ul ul {
    background: rgba(255, 255, 255, 0.04);
    display: none;
  }
  .m-nav .nav-ct > ul ul a {
    padding-left: 36px;
  }
  .m-nav .nav-ct > ul ul ul a {
    padding-left: 54px;
  }
  .m-nav .acd-drop {
    width: 40px;
    height: 40px;
    float: right;
    position: relative;
    z-index: 1;
    font-size: 20px;
    color: inherit;
    font-family: monospace;
    outline: none;
    cursor: pointer;
    border-left: solid 1px #444;
    background: rgba(255, 255, 255, 0.04);
  }
  .m-nav .h-hotline {
    display: block;
    margin: 10px 18px 10px 18px;
  }
  .m-nav .h-account {
    display: inline-flex;
    padding: 0;
    margin-top: 15px;
    width: 100%;
    flex-wrap: wrap;
  }
  .m-nav .h-account.link {
    margin-top: 0;
    color: #faad42 !important;
  }
  .m-nav .h-account.link:after {
    content: none;
  }
  .m-nav .h-account:after {
    display: none;
  }
  .m-nav .h-account .avatar {
    margin: 0 20px;
  }
  .m-nav .h-account .avatar img {
    border-radius: 50%;
  }
  .m-nav .h-account .avatar::before {
    border-radius: 50%;
  }
  .m-nav .h-account .avatar::after {
    border-radius: 50%;
  }
  .m-nav .h-account .name {
    color: white;
  }
  .m-nav .h-account span {
    color: white;
  }
  .m-nav .h-account .pane {
    display: block;
    position: inherit;
    width: 100%;
    background: transparent;
    padding: 0;
    box-shadow: none;
    margin-bottom: 10px;
  }
  .m-nav .h-account .pane ul li {
    border-bottom: solid 1px rgba(151, 151, 151, 0.2);
    border-top: none;
  }
  .m-nav .h-account .pane ul li:last-child {
    border-bottom: solid 2px #faad42;
    padding-bottom: 12px;
  }
  .m-nav .h-account .pane ul li a {
    color: #fff;
    padding: 0 18px;
  }

  .header {
    padding: 0;
  }

  header {
    position: relative;
    padding: 10px 0;
  }
  header .logo img {
    max-height: 60px;
  }
  header .m-nav-open {
    margin-right: -10px;
  }
  header.m-fixed {
    position: fixed;
    box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.5);
  }
  header ul li .h-account {
    display: none;
  }
  header .logo-wrap {
    flex-grow: 1;
  }
}
@media all and (max-width: 360px) {
  .message-wrap .pane {
    width: 270px;
  }
}
footer {
  color: #555;
  margin-top: 30px;
  padding-bottom: 40px;
}
footer .line-footer {
  padding-top: 30px;
  position: relative;
}
footer .line-footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 1px;
  background: #DFDFDF;
}
footer .logo {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  max-width: 265px;
  margin-bottom: 11px;
}
footer .logo img {
  display: block;
  height: 58px;
}
footer .logo .text {
  margin-left: 8px;
  padding-top: 6px;
}
footer .logo .title {
  text-transform: uppercase;
  color: #004266;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.15;
}
footer .logo span {
  font-size: 13px;
  color: #000;
  line-height: 1.3;
}
footer .f-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 31px;
  margin-bottom: 30px;
}
footer a:hover {
  color: #004266;
}
footer li {
  line-height: 24px;
}
footer .f-line {
  line-height: 24px;
}
footer .f-line strong {
  font-weight: 600;
}
footer .store-btn img {
  width: 100%;
  display: block;
}
footer .copyright {
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
}
@media all and (max-width: 1199px) {
  footer .logo img {
    height: 44px;
  }
}
@media all and (max-width: 991px) {
  footer {
    padding-bottom: 30px;
  }
}
@media all and (max-width: 767px) {
  footer .copyright {
    margin-top: 20px;
  }
  footer .f-title {
    margin-bottom: 10px;
  }
}
@media (max-width: 575px) {
  footer .line-footer:before {
    width: 100%;
    left: 0;
  }
}

.foot-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000433;
  color: #fff;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 0;
  z-index: 4;
}
.foot-nav .item {
  margin-right: 40px;
  display: inline-block;
  vertical-align: middle;
}
.foot-nav .item:last-child {
  margin-right: 0;
}
.foot-nav a:hover {
  color: #FAAD42;
}
@media all and (max-width: 991px) {
  .foot-nav {
    height: 30px;
  }
  .foot-nav .item {
    display: none;
  }
}

.back-to-top {
  display: none;
  position: fixed;
  cursor: pointer;
  z-index: 999;
  text-align: center;
  right: 15px;
  bottom: 15px;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 44px;
  background: #eb5254;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(235, 82, 84, 0.5);
}
.back-to-top:hover {
  box-shadow: 0 0 0 5px rgba(235, 82, 84, 0.8);
}

.slider {
  position: relative;
  box-shadow: 0px 2px 14px rgba(63, 75, 186, 0.15);
  overflow: hidden;
}
.slider .slick-list {
  margin: 0;
}
.slider .slick-list .slick-slide {
  margin: 0;
}
.slider .item {
  position: relative;
  padding-bottom: 40px;
  vertical-align: middle;
  height: 360px;
  width: auto;
  background: linear-gradient(360deg, #004266 0%, #00598a 100%), #ffffff;
}
.slider .img img {
  display: block;
  width: 100%;
}
.slider .slider-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.slider .slider-wrap .ct {
  flex: 0 0 50%;
  text-align: center;
  font-size: 18px;
}
.slider .slider-wrap .ct h1,
.slider .slider-wrap .ct h2 {
  font-size: 44px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(270deg, #ffa800 4.6%, #ffcd6c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  line-height: 1.3;
  margin: -0.3em 0;
}
.slider .slider-wrap .ct .adv {
  margin-top: 1em;
}
.slider .slider-wrap .ct .adv p {
  color: #fff;
  font-weight: 500;
}
.slider .slider-wrap .ct .btn-slider {
  padding: 8px 19px;
  background: linear-gradient(270deg, #ffa800 4.6%, #ffcd6c 100%);
  border-radius: 20px;
  color: #004266;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 0.8em;
}
.slider .slider-wrap .ct .btn-slider:hover {
  opacity: 0.9;
}
@media (max-width: 1366px) {
  .slider .slider-wrap .ct {
    font-size: 14px;
  }
  .slider .slider-wrap .ct h1,
.slider .slider-wrap .ct h2 {
    font-size: 36px;
  }
}
@media (max-width: 991px) {
  .slider .slider-wrap .img {
    width: 45%;
  }
}
@media (max-width: 767px) {
  .slider .slider-wrap {
    align-items: flex-end;
  }
  .slider .slider-wrap .ct {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  .slider .slider-wrap .ct h1,
.slider .slider-wrap .ct h2 {
    font-size: 24px;
  }
  .slider .slider-wrap .ct .adv,
.slider .slider-wrap .ct .btn-slider {
    margin-top: 5px;
  }
  .slider .slider-wrap .img {
    position: absolute;
    height: 60%;
    width: auto;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
    z-index: -1;
  }
}
.slider .slick-arrow {
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -20px;
  height: 40px;
}
.slider .slick-arrow.prev {
  left: 20px;
}
.slider .slick-arrow.next {
  right: 20px;
}
@media (max-width: 1199px) {
  .slider {
    height: 360px;
    width: auto;
  }
  .slider .img img {
    display: block;
    height: 100%;
    width: auto;
  }
}
@media (max-width: 767px) {
  .slider .slider-wrap .ct {
    width: 100%;
  }
}

.ctn-h-bar {
  margin-top: -40px;
}

@media (max-width: 991px) {
  .ctn-h-bar {
    margin-top: -65px;
  }
}
@media (max-width: 575px) {
  .ctn-h-bar {
    margin-top: 20px;
  }
}
.h-bar {
  position: relative;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 2px 14px rgba(63, 75, 186, 0.15);
  padding: 12px 20px;
  margin-bottom: 20px;
}
@media all and (max-width: 991px) {
  .h-bar .h-tab {
    margin-bottom: 10px;
  }
}
@media all and (max-width: 767px) {
  .h-bar {
    padding: 10px 10px;
  }
}

.h-tab {
  display: block;
  font-size: 0;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}
.h-tab.v2 {
  margin-bottom: 20px;
}
.h-tab.v2 li a {
  background: #fff;
}
.h-tab li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.h-tab li a {
  display: block;
  height: 47px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 47px;
  color: #555;
  font-weight: 600;
  padding: 0 22px;
  border-radius: 5px;
  background: #ecf3ff;
}
.h-tab li a:hover, .h-tab li a.active {
  background: #e02020;
  color: #fff;
}
@media all and (max-width: 767px) {
  .h-tab.v2 {
    margin-top: 20px;
  }
  .h-tab li {
    margin-right: 6px;
  }
  .h-tab li a {
    height: 40px;
    font-size: 13px;
    padding: 0 16px;
    line-height: 41px;
  }
}

.search {
  background: #004266;
  color: #fff;
  position: relative;
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 4px 5px 4px 48px;
}
.search .search-btn {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 4px;
  left: 3px;
  bottom: 4px;
  width: 40px;
  line-height: 40px;
  border-radius: 3px;
}
.search .form {
  position: relative;
  width: 100%;
}
.search .form input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
  background: none;
  padding-right: 42px;
  color: #fff;
}
.search .form input::-webkit-input-placeholder {
  color: #fff;
}
.search .form input:-moz-placeholder {
  color: #fff;
}
.search .form input::-moz-placeholder {
  color: #fff;
}
.search .form input:-ms-input-placeholder {
  color: #fff;
}
.search .form input:focus, .search .form input.focus {
  background: #fff;
  text-align: left;
  color: #000;
}
.search .form input:focus + button, .search .form input.focus + button {
  opacity: 1;
}
.search .form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  border-radius: 0 3px 3px 0;
  background: #eaecff;
  opacity: 0;
  transition: background 0.2s ease-in-out;
}
.search .form button:hover {
  background: #e1e1e1;
}
.search .pane {
  position: absolute;
  z-index: 3;
  right: 0;
  border: 1px solid #dadada;
  box-shadow: 0px 2px 24px rgba(48, 58, 150, 0.25);
  border-radius: 10px;
  background: #fff;
  width: 430px;
  text-align: left;
  padding: 25px 30px 10px 30px;
  font-size: 16px;
  top: 100%;
}
.search .pane .title {
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}
.search .pane .line {
  position: relative;
  padding-left: 115px;
  margin-bottom: 20px;
}
.search .pane .line .label {
  position: absolute;
  left: 0;
  width: 110px;
  color: #000;
  font-weight: 600;
  top: 8px;
}
.search .pane .line .i-select {
  position: relative;
}
.search .pane .line .i-select:after {
  margin-top: -4px;
}
.search .pane .line .i-select select {
  height: 44px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  color: #555;
}
.search .pane .line .i-check {
  cursor: pointer;
  display: block;
}
.search .pane .line .i-check input:checked + span {
  background: #004266;
  color: #fff;
  border-color: #004266;
}
.search .pane .line .i-check span {
  display: block;
  height: 44px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  color: #555;
  line-height: 42px;
  text-align: center;
}
.search .pane .line .button {
  background: #004266;
  color: #fff;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 20px;
  transition: all 0.2s ease-in-out;
}
.search .pane .line .button i {
  margin-top: -4px;
  margin-right: 10px;
}
.search .pane .line .button:hover {
  background: #e02020;
}
@media all and (max-width: 991px) {
  .search .pane {
    left: 0;
    right: auto;
  }
}
@media all and (max-width: 767px) {
  .search .pane {
    width: 280px;
    padding: 15px 15px 5px 15px;
  }
  .search .pane .line {
    padding-left: 0;
  }
  .search .pane .line .label {
    position: static;
    width: auto;
    margin-bottom: 6px;
  }
  .search .pane .line .i-select select {
    height: 40px;
  }
  .search .pane .line .i-check span {
    height: 40px;
    line-height: 38px;
  }
}

.block-title {
  font-weight: bold;
  color: #004266;
  font-size: 28px;
  line-height: 1.3571428571;
  margin-bottom: 13px;
  margin-top: 20px;
}
@media all and (max-width: 767px) {
  .block-title {
    font-size: 23px;
  }
}

.drop {
  position: relative;
  display: inline-block;
}
.drop .label {
  position: relative;
  cursor: pointer;
  padding-right: 18px;
  text-decoration: underline;
}
.drop .label:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -2px;
}
.drop.v2 .label:after {
  top: auto;
  bottom: 1px;
  margin-top: 0;
}
.drop.v2 .label:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  position: absolute;
  right: 0;
  top: 2px;
}
.drop ul {
  position: absolute;
  left: -20px;
  top: 100%;
  margin-top: 5px;
  background: #ffffff;
  border: 1px solid #dadada;
  box-shadow: 0px 2px 24px rgba(48, 58, 150, 0.25);
  border-radius: 10px;
  z-index: 1;
  text-align: left;
  padding: 13px 0;
  min-width: 150px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.drop ul a {
  display: block;
  font-size: 16px;
  padding: 6px 20px;
  font-weight: 500;
  color: #000;
  position: relative;
}
.drop ul a:before {
  content: "";
  width: 5px;
  height: 9px;
  border-right: solid 2px #004266;
  border-bottom: solid 2px #004266;
  position: absolute;
  left: 7px;
  top: 9px;
  transform: rotate(45deg);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.drop ul a:hover {
  color: #004266;
}
.drop ul a.active {
  color: #004266;
}
.drop ul a.active:before {
  opacity: 1;
}
.drop.active ul {
  opacity: 1;
  visibility: visible;
}

.list-table {
  border-radius: 15px;
  box-shadow: 0px 2px 14px rgba(63, 75, 186, 0.15);
  overflow: hidden;
}
.list-table table {
  width: 100%;
  text-align: center;
  color: #000;
}
.list-table th {
  background-color: #5d7d8e;
  padding: 16px 0 13px 0;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
}
.list-table th .drop .label {
  white-space: nowrap;
}
.list-table th:first-child {
  padding-left: 15px;
}
.list-table th.no-mark {
  padding-left: 0;
}
.list-table tr:nth-child(2n) td {
  background-color: #f7f7f7;
}
.list-table td {
  padding: 18px 5px 16px 5px;
  vertical-align: middle;
}
.list-table td .ic {
  margin-bottom: 4px;
}
.list-table td:first-child {
  position: relative;
}
.list-table td:first-child:before {
  content: "";
  position: absolute;
  width: 8px;
  top: 0;
  bottom: 0;
  background-color: #63a41e;
  left: 0;
}
.list-table td:first-child.v2:before {
  background-color: #e02020;
}
.list-table td:first-child.no-mark:before {
  content: none;
}
.list-table td.blue {
  color: #004266;
}
.list-table td.red {
  color: #e02020;
}
.list-table td .ibl {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.list-table td .phone-number {
  font-size: 18px;
  color: #004266;
  font-weight: 600;
}
.list-table td .phone-number img {
  vertical-align: top;
  margin-left: 15px;
}
.list-table td .phone-number.small {
  font-size: 14px;
}
.list-table td p.pay {
  font-size: 10px;
  color: #555;
}
.list-table td .text-4266 {
  font-weight: 600;
  color: #004266;
  display: block;
}
.list-table td .text-4266.v2 {
  display: inline;
  font-size: 12px;
  font-weight: normal;
}
.list-table td .price {
  display: block;
  font-weight: 600;
  color: #e02020;
  cursor: pointer;
}
.list-table td .price.reverse {
  text-decoration: underline;
}
.list-table td .price:hover {
  color: #004266;
  text-decoration: underline;
}
.list-table td .date-start {
  font-size: 10px;
  margin-top: 3px;
}
.list-table td .action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-table td .action .auction-btn {
  display: block;
  flex-grow: 1;
  vertical-align: middle;
  border-radius: 5px;
  background: #5bc2ae;
  color: #fff;
  padding: 5px 15px;
  text-align: left;
  font-weight: 600;
}
.list-table td .action .auction-btn p {
  line-height: 1.4;
}
.list-table td .action .auction-btn p:first-child {
  font-size: 12px;
}
.list-table td .action .auction-btn.v2 {
  background: #e02020;
}
.list-table td .action .auction-btn:hover {
  opacity: 0.8;
}
.list-table td .action i {
  margin: 0 15px;
  font-size: 30px;
  color: #004266;
}
.list-table td .action .not-participate {
  color: #555;
}
.list-table td .countdown {
  white-space: nowrap;
  background: transparent;
  padding: 0;
  margin-bottom: 10px;
}
.list-table td .countdown i {
  display: none;
  font-style: normal;
  margin: 0 3px;
}
.list-table td .countdown .item {
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: linear-gradient(223.78deg, #004266 0%, #161A24 100%);
}
.list-table td .countdown .item:not(:last-child):after {
  content: ":";
  color: #004266;
  font-size: 16px;
  position: absolute;
  right: -8px;
  top: 50%;
  line-height: 32px;
  margin-top: -16px;
}
.list-table td .countdown .item.d i, .list-table td .countdown .item.h i, .list-table td .countdown .item.m i, .list-table td .countdown .item.s i {
  display: block;
  font-size: 10px;
  color: #969696;
  font-weight: normal;
  margin: 0;
}
.list-table .per-label {
  display: inline-block;
  vertical-align: middle;
  background: #cdd1ff;
  border-radius: 3px;
  text-align: center;
  line-height: 21px;
  color: #000;
  width: 37px;
  margin-top: -2px;
  margin-right: 4px;
}
@media all and (max-width: 1199px) {
  .list-table {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .list-table table {
    min-width: 1000px;
    white-space: nowrap;
  }
}
@media all and (max-width: 767px) {
  .list-table td {
    padding-top: 11px;
    padding-bottom: 10px;
  }
  .list-table td .phone-number {
    font-size: 16px;
  }
}

.not-started-yet {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 12px;
  background: #61B7E5;
  border-radius: 2px;
}

.list-table-wrap {
  position: relative;
  margin-top: 20px;
}
.list-table-wrap .list-table {
  border-radius: 15px 15px 0 0;
  position: relative;
  min-height: 280px;
  pointer-events: none;
}
.list-table-wrap .list-table-over {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 280px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9), white);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}
.list-table-wrap .list-table-over .title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 22px;
  color: #000;
}
.list-table-wrap .list-table-over .i-btn {
  display: inline-block;
  vertical-align: middle;
  width: 134px;
  height: 40px;
  line-height: 40px;
  margin: 0 8px;
}
@media all and (max-width: 767px) {
  .list-table-wrap .list-table-over .i-btn {
    width: 120px;
  }
}

.auction-popup {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 24px rgba(48, 58, 150, 0.25);
  border: 1px solid #dadada;
  padding: 20px 30px 25px 30px;
  width: 430px;
  max-width: 97vw;
  z-index: 3;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  margin-top: 12px;
  margin-left: -220px;
}
.auction-popup.active {
  opacity: 1;
  visibility: visible;
}
.auction-popup .auction-popup-close {
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  top: -14px;
  right: -14px;
  border: solid 2px #fff;
  background: #d8d8d8;
  font-size: 24px;
  line-height: 23px;
  color: #555;
  transition: background, color 0.2s ease-in-out;
}
.auction-popup .auction-popup-close:hover {
  background: #e02020;
  color: #fff;
}
.auction-popup .label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.auction-popup .label span {
  color: #e02020;
  font-weight: normal;
}
.auction-popup table {
  width: 100%;
}
.auction-popup th {
  font-weight: 600;
  padding: 8px 0;
  border-bottom: solid 1px #dfdfdf;
}
.auction-popup td {
  border-bottom: solid 1px #dfdfdf;
}
.auction-popup td span {
  display: block;
  padding: 9px 0;
  margin-top: -1px;
  margin-bottom: -1px;
}
.auction-popup td:first-child span {
  margin-left: -30px;
  padding-left: 30px;
}
.auction-popup td:last-child span {
  margin-right: -30px;
  padding-right: 30px;
}
.auction-popup tr.active td span {
  background: #ededed;
  color: #004266;
}
@media all and (max-width: 767px) {
  .auction-popup {
    width: 300px;
    margin-left: -150px;
    left: 50% !important;
    padding: 15px 15px 15px 15px;
  }
  .auction-popup td:first-child span {
    margin-left: -12px;
    padding-left: 12px;
  }
  .auction-popup td:last-child span {
    margin-right: -12px;
    padding-right: 12px;
  }
}

.i-check {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.i-check input {
  display: none;
}
.i-check input:checked + i:after {
  opacity: 1;
}
.i-check i {
  border-radius: 3px;
  border: solid 1px #979797;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  display: block;
  background: #fff;
  width: 20px;
  height: 20px;
  position: relative;
}
.i-check i:after {
  content: "";
  width: 7px;
  height: 13px;
  border-bottom: solid 3px #4a90e2;
  border-right: solid 3px #4a90e2;
  position: absolute;
  transform: rotate(45deg);
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -3px;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.i-check.v2 {
  position: relative;
  padding-left: 32px;
}
.i-check.v2 i {
  position: absolute;
  left: 0;
}

.i-btn {
  height: 32px;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.5);
  background: #555;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  font-weight: 600;
  border-radius: 5px;
  display: block;
  padding: 0 10px;
  width: 177px;
  max-width: 100%;
  margin-bottom: 5px;
}
.i-btn.red {
  background: #e02020;
}
.i-btn.blue {
  background: #004266;
}
.i-btn:hover {
  color: #fff;
  opacity: 0.7;
}

.paginations {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}
.paginations li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px;
  font-size: 14px;
}
.paginations li span {
  display: block;
  padding: 0 11px;
  letter-spacing: 0.1em;
}
.paginations li a {
  display: block;
  min-width: 32px;
  height: 32px;
  padding: 0 12px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  line-height: 32px;
  color: #004266;
  background: #fff;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.paginations li a:hover, .paginations li a.active {
  background: #004266;
  color: #fff;
}
@media all and (max-width: 767px) {
  .paginations li a {
    min-width: 28px;
    height: 28px;
    font-size: 13px;
    line-height: 28px;
    padding: 0 8px;
  }
}

@media (min-width: 576px) {
  .login-request .modal-dialog {
    max-width: 555px;
  }
}
.login-request .modal-content {
  border: none;
  border-radius: 0;
  padding: 29px 34px 29px 22px;
}
.login-request .login-request-ct {
  display: flex;
}
.login-request .login-request-ct .logo {
  flex: 0 0 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 21px;
}
.login-request .login-request-ct .logo img {
  width: 100%;
  height: 100%;
}
.login-request .login-request-ct p {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-bottom: 15px;
}
.login-request .login-request-ct .close-btn {
  color: #004266;
  display: inline-block;
  vertical-align: middle;
  margin-right: 35px;
  font-weight: 600;
}
.login-request .login-request-ct .close-btn:hover {
  opacity: 0.8;
}
.login-request .login-request-ct .login-btn {
  display: inline-block;
  vertical-align: middle;
  background: #004266;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  height: 41px;
  font-weight: 600;
  padding: 0 10px;
  line-height: 41px;
}
.login-request .login-request-ct .login-btn:hover {
  opacity: 0.8;
}

.search-result .block-title {
  display: inline-block;
  vertical-align: middle;
}
.search-result .item {
  display: inline-block;
  vertical-align: middle;
  border: solid 1px #cf4040;
  height: 22px;
  color: #630808;
  font-size: 14px;
  line-height: 20px;
  padding: 0 32px 0 10px;
  position: relative;
  background: #fff1f1;
  margin-left: 5px;
  margin-top: 4px;
}
.search-result .item button {
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: -1px;
  width: 22px;
  font-size: 20px;
  line-height: 1;
  background: #cf4040;
  color: #fff;
}
.search-result .item button:hover {
  background: #004266;
}
@media all and (max-width: 767px) {
  .search-result {
    margin-bottom: 15px;
  }
  .search-result .block-title {
    display: block;
    margin-bottom: 6px;
  }
  .search-result .item {
    margin-left: 0;
    margin-right: 4px;
  }
}

.list-table .loading td {
  position: relative;
  overflow: hidden;
  background-color: #f1f1f1;
  color: transparent;
  transition: color 0.2s;
}
.list-table .loading td * {
  opacity: 0;
  transition: opacity 0.2s;
}
.list-table .loading td:before {
  visibility: visible;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  right: 0;
  z-index: 2;
  border-color: #fff;
  border-style: solid;
  border-width: 12px 20px 12px 20px;
  background-color: #fff !important;
  padding: 0 41%;
  background-clip: content-box;
}
.list-table .loading td:after {
  visibility: visible;
  content: "";
  position: absolute;
  top: 12px;
  bottom: 12px;
  width: 15%;
  max-width: 15px;
  left: 0px;
  z-index: 1;
  background: linear-gradient(to right, rgba(204, 204, 204, 0), rgba(204, 204, 204, 0.5), rgba(204, 204, 204, 0));
  animation: timeline;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes timeline {
  0% {
    left: -20%;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
.breadcrumbs {
  background: #d4d7f3;
}

.breadcrumb {
  background: none;
  padding: 0;
  border-radius: 0;
  color: #004266;
}
.breadcrumb li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  padding: 0 38px 0 20px;
}
.breadcrumb li:before {
  content: "";
  position: absolute;
  width: 18px;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url("../images/arrow-right.png");
  background-size: 100% 100%;
}
.breadcrumb li:last-child {
  padding-right: 0;
}
.breadcrumb li:last-child:before {
  content: none;
}
@media all and (max-width: 767px) {
  .breadcrumb li {
    padding: 0 22px 0 8px;
  }
}

.breadcrumb a {
  display: block;
}
.breadcrumb a:hover {
  color: #e02020;
}

.sim-detail {
  box-shadow: 0px 2px 14px rgba(63, 75, 186, 0.15);
  border-radius: 15px;
  margin-bottom: 20px;
}
.sim-detail .wrap-sim-detail-left {
  height: 100%;
  margin-right: -30px;
  padding-top: 25px;
  padding-bottom: 22px;
  background: #f7f7f7 !important;
  border-radius: 15px 0 0 15px;
}
.sim-detail .wrap-sim-detail-left.v2 {
  background: #fff !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sim-detail .wrap-sim-detail-left .booking-box {
  margin: auto 20px;
}
.sim-detail .wrap-sim-detail-left .booking-box .box {
  padding: 12px;
  border: none;
  background: #e9eff5;
}
.sim-detail .wrap-sim-detail-left .booking-box .box .form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sim-detail .wrap-sim-detail-left .booking-box .box .button {
  height: 40px;
  padding: auto 20px;
  font-size: 16px;
  color: #004266;
  background: #ffffff;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.sim-detail .wrap-sim-detail-left .booking-box .box .button:hover {
  background: #004266;
  color: #fff;
}
.sim-detail .wrap-sim-detail-left .access-wrap {
  padding: 0 20px;
  margin: 20px 0 60px;
}
.sim-detail .wrap-sim-detail-left .access-wrap .nav-pills {
  height: 46px;
  border-radius: 46px;
  overflow: hidden;
}
.sim-detail .wrap-sim-detail-left .access-wrap .nav-pills .nav-item {
  flex: 0 0 calc(100% / 3);
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
}
.sim-detail .wrap-sim-detail-left .access-wrap .nav-pills .nav-item .nav-link {
  height: 100%;
  padding: 5px 0;
}
.sim-detail .wrap-sim-detail-left .access-wrap .nav-pills .nav-item .nav-link.active {
  background: linear-gradient(270deg, #00779f 0%, #004266 100%);
}
.sim-detail .wrap-sim-detail-left .access-wrap .nav-pills .nav-item .nav-link img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.sim-detail .wrap-sim-detail-left .access-wrap .nav-pills .nav-item .nav-link p {
  font-size: 10px;
}
.sim-detail .wrap-sim-detail-left .access-wrap .tab-content ul li {
  list-style-type: disc;
  list-style-position: inside;
}
.sim-detail .wrap-sim-detail-left .action-wallet {
  padding: 0 20px;
}
.sim-detail .wrap-sim-detail-left .action-wallet a {
  position: relative;
  display: block;
  height: 55px;
  padding: 0 25px 0 10px;
  line-height: 55px;
  transition: 0.3s;
  border-top: 0.2px solid #979797;
}
.sim-detail .wrap-sim-detail-left .action-wallet a.active, .sim-detail .wrap-sim-detail-left .action-wallet a:hover {
  background: #fafafa;
  color: #004266;
}
.sim-detail .wrap-sim-detail-left .action-wallet a img {
  margin-right: 24px;
}
.sim-detail .wrap-sim-detail-left .action-wallet a .ic-right {
  position: absolute;
  margin: 0;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.sim-detail .wrap-sim-detail-left .action-wallet a:last-child {
  border-bottom: 0.2px solid #979797;
}
.sim-detail .wrap-sim-detail-right {
  height: 100%;
  padding-top: 25px;
  padding-bottom: 22px;
  background: #fff;
  border-radius: 0 15px 15px 0;
}
.sim-detail .wrap-sim-detail-right .wallet-list {
  height: 100%;
  margin-right: 20px;
  padding: 30px 30px 0;
  border-radius: 5px;
  background: rgba(250, 250, 250, 0.9);
}
.sim-detail .wrap-sim-detail-right .wallet-list .wallet-list-table {
  max-height: 465px;
  overflow: auto;
}
.sim-detail .wrap-sim-detail-right .wallet-list .wallet-list-table table {
  min-width: 600px;
}
.sim-detail .wrap-sim-detail-right .wallet-list .wallet-list-table table tr {
  height: 60px;
  border-bottom: 0.2px solid #979797;
}
.sim-detail .wrap-sim-detail-right .wallet-list .wallet-list-table table tr td {
  vertical-align: middle;
  color: #000;
}
.sim-detail .wrap-sim-detail-right .wallet-list .wallet-list-table table tr td:first-child {
  width: auto;
}
.sim-detail .wrap-sim-detail-right .wallet-list .wallet-list-table table tr td .radio {
  padding-left: 40px;
  font-weight: normal;
  color: #000;
}
.sim-detail .wrap-sim-detail-right .wallet-list .wallet-list-table table tr td .radio i {
  top: 50%;
  transform: translateY(-50%);
}
.sim-detail .wrap-sim-detail-right .wallet-list .wallet-list-table table tr td .radio p.text-555 {
  font-size: 12px;
}
.sim-detail .info {
  position: relative;
  z-index: 1;
}
.sim-detail .head {
  border-bottom: solid 1px #d9dae0;
  padding: 0 20px 10px;
  margin-bottom: 15px;
}
.sim-detail .head .title {
  font-weight: bold;
  color: #004266;
  font-size: 25px;
}
.sim-detail .head .title.v2 {
  color: #4a810f;
}
.sim-detail .head .title .view {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background: #f2f5fb;
  text-align: center;
  line-height: 23px;
}
.sim-detail .head .title .view i {
  width: 14px;
}
.sim-detail .head .social a {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
.sim-detail .head .social a.f {
  background: #39579a;
}
.sim-detail .head .social a.t {
  background: #50abf1;
}
.sim-detail .head .social a.p {
  background: #cd1d1f;
}
.sim-detail .head .social a.v {
  background: #4b75a3;
}
.sim-detail .head .social a.l {
  background: #0079bb;
}
.sim-detail .head .social a.e {
  background: #303a96;
}
.sim-detail .head .social a:hover {
  background: #004266;
}
@media all and (max-width: 1199px) {
  .sim-detail .head {
    padding-left: 25px;
    padding-right: 15px;
  }
}
@media all and (max-width: 991px) {
  .sim-detail .head {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media all and (max-width: 767px) {
  .sim-detail .head .title {
    font-size: 22px;
  }
  .sim-detail .head .social {
    margin-top: 5px;
  }
}
.sim-detail .group {
  max-width: 465px;
  border-bottom: solid 1px #d9dae0;
  padding-left: 50px;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.sim-detail .group:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
@media all and (max-width: 1199px) {
  .sim-detail .group {
    padding-left: 25px;
  }
}
@media all and (max-width: 991px) {
  .sim-detail .group {
    padding-left: 20px;
    padding-right: 20px;
    max-width: none;
  }
}
.sim-detail .table-wrap {
  padding: 10px 25px 0 25px;
}
.sim-detail table {
  width: 100%;
}
.sim-detail table td {
  color: #555;
  padding: 4px 0;
}
.sim-detail table td:first-child {
  width: 100px;
  padding-right: 15px;
}
.sim-detail table td strong {
  font-weight: 600;
  color: #000;
}
.sim-detail table td .help {
  width: 14px;
  height: 14px;
  background: #004266;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  line-height: 15px;
  margin-top: -2px;
}
.sim-detail .ct-auction {
  padding: 0px 20px 20px;
  display: flex;
}
.sim-detail .ct-auction .ct-left {
  flex: 0 0 calc(50% - 10px);
  margin-right: 20px;
}
.sim-detail .ct-auction .ct-left .type-auction {
  position: relative;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  font-weight: 500;
  color: #417505;
  background: rgba(157, 183, 130, 0.3);
  border-radius: 5px;
  padding: 0 12px 0 42px;
}
.sim-detail .ct-auction .ct-left .type-auction img {
  position: absolute;
  top: 5px;
  left: 5px;
}
.sim-detail .ct-auction .ct-left .type-auction.reverse {
  background: rgba(224, 32, 32, 0.1);
  color: #e02020;
}
.sim-detail .ct-auction .ct-left .info-auction {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sim-detail .ct-auction .ct-left .info-auction .item-info {
  flex: 0 0 calc(50% - 10px);
  margin: 10px auto;
}
.sim-detail .ct-auction .ct-left .info-auction .item-info .title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.sim-detail .ct-auction .ct-left .info-auction .item-info .date {
  font-size: 13px;
  line-height: 22px;
  color: #565656;
  letter-spacing: -0.5px;
}
.sim-detail .ct-auction .ct-left .info-auction .item-info .price {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}
.sim-detail .ct-auction .ct-left .info-auction .item-info .price.now {
  color: #417505;
}
.sim-detail .ct-auction .ct-left .info-auction .item-info .price.sequent {
  color: #004266;
}
.sim-detail .ct-auction .ct-left .info-auction .item-info .countdown {
  margin-top: 5px;
}
.sim-detail .ct-auction .ct-left .info-auction .item-info .countdown .item {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.sim-detail .ct-auction .ct-left .booking-box {
  margin-right: 0;
}
.sim-detail .ct-auction .ct-left .booking-box .box {
  background: transparent;
  border: none;
  border-radius: none;
  padding: 0;
  margin-top: 0;
}
.sim-detail .ct-auction .ct-left .booking-box .box .l-box {
  margin-right: 0;
  max-width: inherit;
}
.sim-detail .ct-auction .ct-left .booking-box .box .form {
  padding-right: 0;
  margin-top: 10px;
}
.sim-detail .ct-auction .ct-left .booking-box .box .booking-box-price {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
.sim-detail .ct-auction .ct-left .booking-box .box .booking-box-price sup {
  font-size: 12px;
  font-weight: 600;
}
.sim-detail .ct-auction .ct-left .winner-wrap {
  position: relative;
  text-align: center;
}
.sim-detail .ct-auction .ct-left .winner-wrap .avatar-winner {
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  left: 50%;
  top: 24px;
  transform: translateX(-37px);
}
.sim-detail .ct-auction .ct-left .winner-wrap .name {
  font-size: 16px;
  font-weight: 600;
}
.sim-detail .ct-auction .ct-right {
  flex-grow: 1;
  text-align: center;
}
.sim-detail .ct-auction .ct-right .active-auction {
  display: flex;
  height: 34px;
  width: 100%;
  border-radius: 5px;
  background: #ececec;
}
.sim-detail .ct-auction .ct-right .active-auction .item {
  position: relative;
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px;
}
.sim-detail .ct-auction .ct-right .active-auction .item:first-child::after {
  position: absolute;
  content: "";
  right: 0;
  top: 5px;
  height: 24px;
  width: 1px;
  background: #969696;
}
.sim-detail .ct-auction .ct-right .info-auction-date {
  margin: 30px 0 20px;
  text-align: center;
}
.sim-detail .ct-auction .ct-right .countdown .item {
  width: 40px;
  height: 35px;
  line-height: 35px;
}
.sim-detail .ct-auction .ct-right .countdown .item.d {
  display: none;
}
.sim-detail .ct-auction .ct-right .countdown .item i {
  display: block;
  font-style: normal;
  font-family: "AvenirNext";
  font-weight: normal;
  font-size: 11px;
  color: #565656;
}
.sim-detail .ct-auction .ct-right .auction-list {
  margin-top: 40px;
  border: 1px solid #dadada;
  overflow: hidden;
}
.sim-detail .ct-auction .ct-right .auction-list .auction-list-table {
  position: relative;
  max-height: 400px;
  overflow: auto;
}
.sim-detail .ct-auction .ct-right .auction-list .auction-list-table .rocket {
  position: absolute;
  width: 28%;
  right: 20px;
  bottom: 20px;
}
.sim-detail .ct-auction .ct-right .auction-list .auction-list-table .noti-not-auction {
  position: absolute;
  text-align: left;
  left: 27%;
  bottom: 11%;
}
.sim-detail .ct-auction .ct-right .auction-list .auction-list-table .noti-not-auction p {
  font-size: 12px;
}
.sim-detail .ct-auction .ct-right .auction-list .auction-list-table .noti-not-auction p:last-child {
  font-weight: 600;
}
.sim-detail .ct-auction .ct-right .auction-list .auction-list-table table {
  text-align: left;
}
.sim-detail .ct-auction .ct-right .auction-list .auction-list-table table tr:first-child {
  background: rgba(162, 213, 110, 0.3);
}
.sim-detail .ct-auction .ct-right .auction-list .auction-list-table table tr:first-child td {
  color: #417505;
}
.sim-detail .ct-auction .ct-right .auction-list .auction-list-table table tr:first-child td strong {
  color: #417505;
}
.sim-detail .ct-auction .ct-right .auction-list .auction-list-table table tr td {
  padding: 10px 6px;
  font-weight: 500;
  vertical-align: top;
}
.sim-detail .ct-auction .ct-right .auction-list .auction-list-table table tr td:first-child {
  width: auto;
}
.sim-detail .ct-auction .ct-right .auction-list .auction-list-table table tr td:last-child {
  text-align: right;
}
.sim-detail .ct-auction .ct-right .auction-list .auction-list-table table tr td .user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.sim-detail .ct-auction .ct-right .auction-list .auction-list-table table tr td .user p img {
  position: relative;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  margin-left: 8px;
}
.sim-detail .ct-auction .ct-right .auction-list .auction-list-table table tr td small {
  font-size: 11px;
  color: #555;
}
@media all and (max-width: 991px) {
  .sim-detail .img {
    margin-right: 0;
  }
  .sim-detail .wrap-sim-detail-left {
    border-radius: 15px 15px 0 0;
    margin-right: 0;
  }
  .sim-detail .wrap-sim-detail-right {
    border-radius: 0 0 15px 15px;
  }
}
@media all and (max-width: 575px) {
  .sim-detail {
    padding-top: 15px;
    overflow: hidden;
  }
  .sim-detail .ct-auction {
    flex-direction: column;
  }
  .sim-detail .ct-auction .ct-left .btn-auction {
    margin-bottom: 30px;
  }
}

.btn-auction {
  display: inline-block;
  height: 44px;
  background: #62b7e5;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-weight: 600;
  padding: 0 20px;
  color: #fff;
}
.btn-auction img {
  margin-right: 12px;
}
.btn-auction.v2 {
  background: #e02020;
}
.btn-auction.v3 {
  background: #004266;
}
.btn-auction.v3:hover {
  background: #62b7e5;
}
.btn-auction:hover {
  background: #004266;
}

.sim {
  margin-left: -50px;
  margin-right: -110px;
  position: relative;
}
.sim img {
  width: 100%;
}
.sim .caption {
  position: absolute;
  right: 29.4%;
  bottom: 25%;
}
.sim .caption .number {
  font-size: 20px;
  font-weight: bold;
  color: #004266;
  line-height: 1.3;
}
.sim .caption p {
  color: #555;
}
.sim .caption p span {
  font-weight: 600;
  color: #e02020;
}
@media all and (max-width: 1199px) {
  .sim {
    margin-right: -100px;
  }
  .sim .caption {
    right: 29%;
  }
  .sim .caption .number {
    font-size: 18px;
  }
}
@media all and (max-width: 991px) {
  .sim {
    margin-left: -15px;
    margin-right: -15px;
  }
  .sim .caption {
    right: 32%;
  }
}
@media all and (max-width: 767px) {
  .sim .caption {
    right: 29%;
  }
  .sim .caption .number {
    font-size: 19px;
  }
  .sim .caption p {
    font-size: 13px;
  }
}
@media all and (max-width: 575px) {
  .sim {
    margin-right: -90px;
    margin-left: -45px;
  }
  .sim .caption {
    right: 28%;
    right: calc(100vw - 72%);
    margin-right: 110px;
  }
  .sim .caption .number {
    font-size: 16px;
  }
  .sim .caption p {
    font-size: 11px;
  }
}

.wallet {
  padding: 0 20px;
  position: relative;
  border-radius: 15px;
}
.wallet img {
  width: 100%;
  border-radius: 20px;
}
.wallet .value {
  position: absolute;
  left: 40px;
  top: 30px;
  font-size: 28px;
  color: #58efff;
  font-weight: bold;
}
.wallet .value sup {
  font-size: 16px;
}
.wallet .caption {
  position: absolute;
  left: 40px;
  bottom: 20px;
  display: flex;
  align-items: center;
}
.wallet .caption img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-right: 12px;
}
.wallet .caption .info {
  color: #fff;
}
.wallet .caption .info p {
  font-size: 12px;
  opacity: 0.6;
}

.comment {
  background: #fff;
  box-shadow: 0px 2px 14px rgba(63, 75, 186, 0.15);
  border-radius: 15px;
  padding: 25px;
}

.sim-auction {
  background: #fff;
  box-shadow: 0px 2px 14px rgba(63, 75, 186, 0.15);
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
}
@media all and (max-width: 991px) {
  .sim-auction {
    display: block;
  }
}
@media all and (max-width: 575px) {
  .sim-auction {
    background: none;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
  }
}
.sim-auction .left {
  flex: 0 0 43%;
  padding: 20px;
}
@media all and (max-width: 991px) {
  .sim-auction .left {
    flex: 0 0 100%;
  }
}
@media all and (max-width: 767px) {
  .sim-auction .left {
    padding: 15px;
  }
}
@media all and (max-width: 575px) {
  .sim-auction .left {
    padding: 0;
  }
}
.sim-auction .right {
  flex: 0 0 58%;
  background: #f7f7f7;
  padding: 20px 33px 30px 34px;
}
@media all and (max-width: 991px) {
  .sim-auction .right {
    flex: 0 0 100%;
    padding: 20px;
  }
}
@media all and (max-width: 767px) {
  .sim-auction .right {
    padding: 15px;
  }
}
@media all and (max-width: 575px) {
  .sim-auction .right {
    padding: 0;
    margin-top: 15px;
  }
}
.sim-auction .head p {
  color: #555;
  margin-bottom: 5px;
}
.sim-auction .head .label {
  border-radius: 30px;
  height: 34px;
  background: #cdd1ff;
  color: #004266;
  text-align: center;
  line-height: 35px;
  font-weight: 600;
  padding: 0 27px;
  margin-top: 10px;
}
.sim-auction .head .label.gray {
  background: #c9c9c9;
  color: #fff;
}
@media all and (max-width: 767px) {
  .sim-auction .head {
    text-align: center;
  }
}
.sim-auction .price {
  margin-top: 20px;
}
.sim-auction .price p {
  margin-bottom: 5px;
}
.sim-auction .price strong {
  font-size: 25px;
  line-height: 1.16;
}
.sim-auction .price strong i {
  margin-right: 10px;
  margin-top: -3px;
}
.sim-auction .ctrls {
  margin-top: 8px;
}
.sim-auction .ctrls .buy-now {
  height: 40px;
  width: 148px;
  border-radius: 5px;
  background: #e02020;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  color: #fff;
  margin-right: 5px;
}
.sim-auction .ctrls .buy-auto-auction {
  height: 40px;
  width: 148px;
  border-radius: 5px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  color: #e02020;
  border: solid 2px #e02020;
  margin-right: 5px;
}
.sim-auction .ctrls .buy-auto-auction input {
  height: 30px;
  border-radius: 2px;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);
  padding: 0;
  text-align: center;
  border: none;
  margin-left: 10px;
  width: 100%;
}
.sim-auction .ctrls .buy-auto-auction.v2 {
  width: auto;
}
.sim-auction .ctrls .help {
  display: inline-block;
  vertical-align: middle;
}
.sim-auction .ctrls .help span {
  width: 14px;
  height: 14px;
  background: #004266;
  border-radius: 50%;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  line-height: 15px;
}
.sim-auction .ctrls.v2 {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.sim-auction .ctrls.v2 .buy-auto-auction {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  white-space: nowrap;
  position: relative;
}
.sim-auction .ctrls.v2 .buy-auto-auction p {
  position: absolute;
  right: 0;
  font-size: 12px;
  color: #555;
  top: 100%;
  margin-top: -3px;
  font-weight: normal;
}
.sim-auction .ctrls.v2 .help {
  margin-left: 5px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sim-auction .ctrls.v2 {
    flex-wrap: wrap;
  }
  .sim-auction .ctrls.v2 .buy-auto-auction {
    flex: 0 0 90%;
    margin-top: 10px;
  }
}
@media all and (max-width: 767px) {
  .sim-auction .ctrls.v2 {
    flex-wrap: wrap;
  }
  .sim-auction .ctrls.v2 .buy-auto-auction {
    flex: 0 0 90%;
    margin-top: 10px;
  }
}
@media all and (max-width: 767px) {
  .sim-auction .ctrls .buy-now {
    width: 110px;
  }
  .sim-auction .ctrls .buy-auto-auction {
    width: 110px;
  }
}
.sim-auction .group {
  border-top: solid 1px #d9dae0;
  padding-right: 20px;
  margin-right: -20px;
  margin-top: 20px;
  padding-top: 15px;
}
.sim-auction .group.no-border {
  border-top: none;
  padding-top: 0;
  margin-top: 15px;
}
.sim-auction .group .g-title {
  font-weight: 600;
}
.sim-auction .group table td {
  color: #555;
  padding: 4px 0;
}
.sim-auction .group table td:first-child {
  width: 120px;
  padding-right: 15px;
}
.sim-auction .group table td strong {
  font-weight: 600;
  color: #004266;
}
@media all and (max-width: 767px) {
  .sim-auction .group {
    margin-right: 0;
    padding-right: 0;
  }
}
.sim-auction .group .group-list {
  margin-right: 25px;
  box-shadow: 0px 2px 24px rgba(48, 58, 150, 0.25);
  border-radius: 10px;
  padding: 18px 0 30px 30px;
  color: #000;
}
@media all and (max-width: 991px) {
  .sim-auction .group .group-list {
    margin-right: 0;
    padding: 18px 0 30px 15px;
  }
}
.sim-auction .group .group-list .gl-title {
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
}
.sim-auction .group .group-list .gl-title strong {
  font-weight: 600;
}
.sim-auction .group .group-list .gl-title span {
  color: #e02020;
}
.sim-auction .group .group-list table {
  width: 100%;
}
.sim-auction .group .group-list th {
  font-weight: 600;
  border-bottom: solid 1px #dfdfdf;
}
.sim-auction .group .group-list td {
  border-bottom: solid 1px #dfdfdf;
  padding-top: 12px;
}
.sim-auction .group .group-list td strong {
  font-weight: 600;
  color: #004266;
}
.sim-auction .group .group-list td .plus {
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
}
.sim-auction .group .group-list td:first-child {
  width: auto;
}
.sim-auction .group .group-list .group-list-scroll {
  max-height: 195px;
  overflow: auto;
}
.sim-auction .group .group-list .group-list-scroll .mCSB_inside > .mCSB_container {
  margin-right: 20px;
}
.sim-auction .group .group-list .mCSB_scrollTools {
  width: 6px;
}
.sim-auction .group .group-list .mCSB_scrollTools .mCSB_draggerRail {
  width: 6px;
}
.sim-auction .group .group-list .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
}
@media all and (max-width: 575px) {
  .sim-auction .group .group-list th {
    line-height: 1.3;
  }
  .sim-auction .group .group-list td,
.sim-auction .group .group-list th {
    padding-right: 5px;
  }
}
.sim-auction .charge-btn {
  color: #e02020;
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
}
.sim-auction .charge-btn:hover {
  text-decoration: underline;
}

.countdown {
  display: inline-flex;
  background: #000;
  border-radius: 2px;
  padding: 5px 8px;
}
.countdown .item {
  background: linear-gradient(180deg, #ffffff 0%, #ececec 46.86%, #cecece 100%);
  border-radius: 2px;
  height: 47px;
  font-family: "PT Sans Narrow", sans-serif;
  width: 45px;
  font-size: 23px;
  line-height: 47px;
  font-weight: bold;
  text-align: center;
  margin-right: 10px;
  position: relative;
}
.countdown .item i {
  display: none;
}
.countdown .item:after {
  content: ":";
  color: #696969;
  font-size: 30px;
  position: absolute;
  right: -9px;
  top: 50%;
  line-height: 30px;
  margin-top: -17px;
}
.countdown .item:last-child {
  margin-right: 0;
}
.countdown .item:last-child:after {
  content: none;
}

.auction-list {
  border-radius: 5px;
  box-shadow: 0px 2px 14px rgba(63, 75, 186, 0.15);
  overflow: hidden;
}
.auction-list table {
  width: 100%;
  border: none;
}
.auction-list th {
  background: #e02020;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.auction-list th.v2 {
  background: #63a41e;
}
@media all and (max-width: 767px) {
  .auction-list th {
    font-size: 14px;
  }
}
.auction-list td {
  color: #555;
  line-height: 1.4;
  padding-top: 12px;
  padding-bottom: 12px;
}
.auction-list tr:nth-child(2n) td {
  background: rgba(107, 107, 107, 0.06);
}
.auction-list small {
  font-size: 12px;
}
.auction-list strong {
  color: #000;
}
.auction-list .blue {
  color: #004266;
}
.auction-list .red {
  color: #e02020;
}
.auction-list .user {
  position: relative;
  min-height: 30px;
}
.auction-list .user img {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  left: -38px;
  top: 3px;
}
@media all and (max-width: 767px) {
  .auction-list .user {
    padding-left: 0;
  }
  .auction-list .user img {
    left: 0;
    display: none;
  }
}
.auction-list.disabled {
  position: relative;
}
.auction-list.disabled .auction-list-scroll {
  pointer-events: none;
  filter: blur(4px);
}
.auction-list.disabled .over {
  position: absolute;
  width: 340px;
  top: 38%;
  left: 50%;
  margin-left: -170px;
  background: #fff;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
  padding: 29px 10px 22px 10px;
}
.auction-list.disabled .over .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}
.auction-list.disabled .over .i-btn {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  width: 97px;
  height: 40px;
  line-height: 40px;
  margin: 0 4px;
}

.auction-list-scroll {
  max-height: 480px;
  overflow: auto;
}
@media all and (min-width: 768px) {
  .auction-list-scroll.v2 {
    max-height: 640px;
  }
}

.mCSB_inside > .mCSB_container {
  margin-right: 0;
}

.mCSB_scrollTools {
  opacity: 1;
  width: 12px;
  right: 1px;
}
.mCSB_scrollTools .mCSB_draggerRail {
  width: 12px;
  background: #dfdfdf;
  border-radius: 0;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #818181 !important;
  width: 12px;
  border-radius: 0;
}

.booking-box {
  margin-right: 52px;
}
@media all and (max-width: 1199px) {
  .booking-box {
    margin-right: 0;
  }
}
.booking-box .box {
  background: #f4f5fa;
  border: 1px solid #303a96;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  margin-top: 15px;
}
@media all and (max-width: 575px) {
  .booking-box .box {
    padding-left: 14px;
    padding-right: 14px;
  }
}
.booking-box .box-title {
  color: #000;
  margin-bottom: 6px;
}
.booking-box .l-box {
  margin-right: 105px;
  display: flex;
  max-width: 280px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.booking-box .help {
  width: 14px;
  height: 14px;
  background: #004266;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  line-height: 15px;
  margin-top: -2px;
}
.booking-box input[type=radio]:not(:checked) ~ span {
  color: #555;
}
.booking-box .note {
  margin-top: 5px;
  color: #555;
  font-size: 13px;
}
.booking-box .form {
  position: relative;
  padding-right: 105px;
  min-height: 37px;
}
.booking-box .form .button {
  position: absolute;
  right: 0;
  width: 97px;
  top: 5px;
  height: 37px;
  border-radius: 5px;
  background: #004266;
  color: #fff;
  font-weight: 600;
  transition: all 0.12s ease-in-out;
}
.booking-box .form .button.v2 {
  background: #fff;
  color: #63a41e;
  border: solid 2px #63a41e;
}
.booking-box .form .button.v3 {
  background: #fff;
  color: #555;
  border: solid 1px #555;
}
.booking-box .form .button:hover {
  background: #e02020;
  border-color: #e02020;
  color: #fff;
}
.booking-box .form.v2-position {
  min-height: auto;
}
.booking-box .form.v2-position .button {
  top: -60px;
}
.booking-box .form p {
  padding-top: 5px;
  color: #555;
}
.booking-box .form p strong {
  color: #004266;
  font-size: 18px;
  font-weight: 600;
}
.booking-box .form table {
  line-height: 1.35;
}
.booking-box .form table td:first-child {
  padding-right: 10px;
}
.booking-box .form table strong {
  color: #e02020;
  display: block;
}
.booking-box .form table a {
  color: #004266;
  font-weight: 600;
  text-decoration: underline;
}
.booking-box .form table .c-form {
  position: relative;
}
.booking-box .form table .c-form input {
  height: 24px;
  border: solid 1px #e0e0e0;
  border-radius: 5px;
  color: #000;
  width: 100%;
  padding-left: 7px;
}
.booking-box .form table .c-form button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  color: #004266;
  background: rgba(63, 75, 186, 0.15);
  font-weight: 600;
  border-radius: 0 5px 5px 0;
}
.booking-box hr {
  border-color: #d9dae0;
  margin: 8px 0;
}
.booking-box .i-number {
  position: relative;
}
.booking-box .i-number input {
  height: 44px;
  width: 100%;
  border: solid 1px #f1f2f7;
  background: #f1f2f7;
  padding: 0 5px 0 80px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  border-radius: 5px;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.booking-box .i-number .n-ctrl {
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #004266;
  top: 50%;
  margin-top: -15px;
  left: 11px;
  border: 0.2px solid #969696;
}
.booking-box .i-number .n-ctrl.down {
  margin-left: 38px;
}
.booking-box .i-number .n-ctrl:hover {
  background: #004266;
  color: #fff;
}

.radio {
  position: relative;
  padding-left: 25px;
  color: #004266;
  font-weight: bold;
  cursor: pointer;
}
.radio input {
  display: none;
}
.radio input:checked + i:after {
  opacity: 1;
}
.radio i {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  border: 1px solid #004266;
  box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.3);
}
.radio i:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: linear-gradient(180deg, #4a8bc6 0%, #004266 100%);
  margin: 2px;
  opacity: 0;
}

.page-ct {
  background: #fff;
  box-shadow: 0px 2px 14px rgba(48, 58, 150, 0.15);
  border-radius: 15px;
  padding: 14px 26px 15px 26px;
}
@media all and (max-width: 767px) {
  .page-ct {
    padding: 14px 15px 15px;
  }
}

.policy .title {
  color: #004266;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 17px;
  text-transform: uppercase;
}
.policy .s-content {
  color: #000;
  line-height: 18px;
}
.policy .s-content p {
  margin-bottom: 20px;
}

.contact-form {
  margin-bottom: 35px;
  margin-top: 50px;
}
@media all and (max-width: 767px) {
  .contact-form {
    margin-top: 35px;
    margin-bottom: 20px;
  }
}
.contact-form p {
  font-weight: 600;
  margin-bottom: 12px;
  color: #000;
}
.contact-form input {
  height: 38px;
  border: solid 1px rgba(129, 129, 129, 0.5);
  margin-bottom: 25px;
  width: 100%;
}
.contact-form input::-webkit-input-placeholder {
  color: #818181;
}
.contact-form input:-moz-placeholder {
  color: #818181;
}
.contact-form input::-moz-placeholder {
  color: #818181;
}
.contact-form input:-ms-input-placeholder {
  color: #818181;
}
.contact-form textarea {
  display: block;
  border: solid 1px rgba(129, 129, 129, 0.5);
  margin-bottom: 25px;
  width: 100%;
  height: 104px;
}
.contact-form textarea::-webkit-input-placeholder {
  color: #818181;
}
.contact-form textarea:-moz-placeholder {
  color: #818181;
}
.contact-form textarea::-moz-placeholder {
  color: #818181;
}
.contact-form textarea:-ms-input-placeholder {
  color: #818181;
}
.contact-form button {
  background: #004266;
  color: #fff;
  font-weight: 600;
  height: 40px;
  width: 106px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.contact-form button:hover {
  background: #e02020;
}

.contact {
  text-align: center;
  padding-top: 30px;
}
.contact .name {
  color: #004266;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}
.contact .social {
  margin-bottom: 28px;
}
.contact .social a {
  display: inline-block;
  vertical-align: middle;
  color: #676767;
  margin: 0 7px;
  font-size: 18px;
}
.contact .social a:hover {
  color: #004266;
}
.contact p {
  color: #000;
  line-height: 24px;
  margin-bottom: 20px;
}
@media all and (max-width: 767px) {
  .contact {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .contact .social {
    margin-bottom: 20px;
  }
  .contact p {
    margin-bottom: 15px;
  }
}

.map iframe {
  height: 360px;
  display: block;
}

.setting-tb .title {
  text-transform: uppercase;
  color: #004266;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 15px;
}
.setting-tb table {
  width: 100%;
}
.setting-tb table td,
.setting-tb table th {
  padding-right: 20px;
  padding-bottom: 10px;
  color: #000;
}
.setting-tb table th {
  font-weight: 600;
}
.setting-tb .ctrl {
  border-top: solid 1px #e0e0e0;
  margin-top: 10px;
  padding-top: 20px;
  margin-bottom: 22px;
}
.setting-tb .ctrl button {
  background: #004266;
  color: #fff;
  font-weight: 600;
  height: 40px;
  width: 106px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.setting-tb .ctrl button:hover {
  background: #e02020;
}

.load-more {
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  color: #004266;
}
@media (max-width: 767px) {
  .load-more {
    font-size: 14px;
  }
}

.text-c1 {
  color: #004266 !important;
}

.text-c2 {
  color: #e02020 !important;
}

.text-green {
  color: #417505 !important;
}

.text-555 {
  color: #555 !important;
}

.accout-page {
  background: #fff;
  box-shadow: 0px 2px 14px rgba(48, 58, 150, 0.15);
  border-radius: 15px;
  margin-top: 30px;
  font-size: 16px;
  overflow: hidden;
}
.accout-page.v2 {
  margin-top: 0;
}
.accout-page.pad {
  padding: 30px 25px;
}
@media all and (max-width: 767px) {
  .accout-page {
    font-size: 14px;
  }
}
.accout-page .c-img {
  padding-top: 95.5357142857%;
}
.accout-page .ct {
  padding: 46px 95px 44px 95px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
@media all and (max-width: 767px) {
  .accout-page .ct {
    padding: 35px 20px;
    font-size: 14px;
  }
}
.accout-page .title {
  font-size: 28px;
  color: #000;
  font-weight: 600;
  margin-bottom: 7px;
}
@media all and (max-width: 767px) {
  .accout-page .title {
    font-size: 23px;
  }
}
.accout-page .desc {
  line-height: 19px;
  margin-bottom: 29px;
}
.accout-page .link-to {
  color: #000;
  display: block;
  margin-top: auto;
}
.accout-page .link-to.v2 {
  margin-top: 7px;
  margin-bottom: 7px;
}
.accout-page .link-to a {
  color: #004266;
  font-weight: 600;
}
.accout-page .link-to a:hover {
  text-decoration: underline;
}
.accout-page .form .label {
  font-weight: 600;
  margin-bottom: 7px;
}
.accout-page .form .input {
  height: 44px;
  background: rgba(242, 242, 242, 0.71);
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
}
.accout-page .form .button {
  background: #004266;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  height: 40px;
  width: 100%;
  color: #fff;
  font-weight: 600;
}
.accout-page .form .button:hover {
  background: #e02020;
}
.accout-page .form .otp {
  padding-right: 140px;
  position: relative;
}
.accout-page .form .otp .time {
  position: absolute;
  width: 120px;
  right: 0;
  text-align: center;
  font-size: 16px;
  color: #004266;
  font-weight: 600;
  top: 10px;
}
.accout-page .form .form-title {
  text-transform: uppercase;
  color: #004266;
  font-weight: 600;
  margin-bottom: 20px;
}
.accout-page .form .line {
  position: relative;
  padding-left: 135px;
  min-height: 40px;
  margin-bottom: 15px;
}
.accout-page .form .line.v2 {
  margin-bottom: 5px;
}
.accout-page .form .line.v3 {
  padding-left: 0;
}
.accout-page .form .line.v3 .label {
  position: static;
  margin-bottom: 6px;
  width: auto;
}
.accout-page .form .line .label {
  position: absolute;
  left: 0;
  top: 8px;
  width: 130px;
  line-height: 1.3;
}
.accout-page .form .line .label.v2 {
  top: 2px;
}
@media all and (max-width: 575px) {
  .accout-page .form .line {
    padding-left: 0;
  }
  .accout-page .form .line .label {
    position: static;
    margin-top: 0;
    margin-bottom: 5px;
  }
}
.accout-page .form .facebook-connect {
  display: block;
  width: 100%;
  height: 35px;
  background: #3766B2;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  line-height: 35px;
  color: #fff;
  text-align: center;
  padding: 0 20px;
}
.accout-page .form .facebook-connect i {
  font-size: 21px;
  margin-right: 16px;
  display: inline-block;
  vertical-align: middle;
}
.accout-page .form .facebook-connect:hover {
  background: #004266;
}
.accout-page .form .input-password {
  position: relative;
}
.accout-page .form .input-password input {
  padding-right: 80px;
  margin-bottom: 0;
}
.accout-page .form .input-password button {
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 1px;
  font-size: 16px;
  color: #004266;
  width: 75px;
  background: #fff;
  border-left: solid 1px #E0E0E0;
  border-radius: 0 4px 4px 0;
}
.accout-page .form .i-check {
  margin-bottom: 10px;
  display: block;
}
.accout-page .form .i-check a {
  color: #004266;
}
.accout-page .form .i-check a:hover {
  text-decoration: underline;
}
.accout-page .form .ctrl {
  margin-top: 20px;
  margin-bottom: 35px;
}
.accout-page .form .ctrl.v2 {
  margin: 0;
}
.accout-page .form .i-btn {
  font-size: 15px;
  height: 40px;
  padding: 0 40px;
  width: auto;
  margin-bottom: 0;
  display: inline-block;
}
.accout-page .form .social p {
  margin: 15px 20px 12px 20px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.accout-page .form .social p:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: #979797;
  top: 50%;
  z-index: -1;
}
.accout-page .form .social p span {
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  padding: 0 10px;
}
.accout-page .form .social .login-btn {
  border: solid 1px #D8D8D8;
  border-radius: 5px;
  height: 44px;
  font-size: 16px;
  line-height: 42px;
  text-align: center;
  color: #000;
  display: block;
  transition: all 0.2s ease-in-out;
}
.accout-page .form .social .login-btn i {
  color: #004266;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  transition: all 0.2s ease-in-out;
}
.accout-page .form .social .login-btn:hover {
  background: #004266;
  color: #fff;
}
.accout-page .form .social .login-btn:hover i {
  color: #fff;
}
.accout-page .form .link {
  color: #004266;
}
.accout-page .form .link.v2 {
  text-decoration: underline;
}
.accout-page .form .link i {
  font-size: 21px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.accout-page .form .link strong {
  font-weight: 500;
}
.accout-page .form .email-status {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background: #A7D22A;
  font-size: 10px;
  text-align: center;
  line-height: 19px;
  color: #fff;
}
.accout-page .form .help {
  width: 14px;
  height: 14px;
  background: #004266;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  line-height: 15px;
  margin-top: -2px;
}
.accout-page .form hr {
  border-color: #979797;
}
.accout-page .form hr.mt0 {
  margin-top: 0;
}
.accout-page .form .text-red {
  margin-bottom: 10px;
  color: #e02020;
}

.btn-call {
  position: fixed;
  bottom: 20px;
  left: 40px;
  z-index: 99;
}
.btn-call span {
  display: block;
  font-size: 16px;
  width: 38px;
  height: 38px;
  margin: auto;
  border-radius: 50%;
  line-height: 42px;
  text-align: center;
  color: #fff;
  background: #eb5254;
  position: relative;
}
.btn-call span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: solid 1px rgba(235, 82, 84, 0.6);
  animation-name: zoomin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.btn-call span:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
  background: rgba(235, 82, 84, 0.6);
  z-index: -1;
  animation-name: zoomout;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.btn-call span i {
  animation-name: lac;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@media all and (max-width: 767px) {
  .btn-call {
    top: auto;
    left: 20px;
    bottom: 20px;
  }
}
@keyframes lac {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-25deg);
  }
  20% {
    transform: rotate(25deg);
  }
  30% {
    transform: rotate(-25deg);
  }
  40% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes zoomin {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2.2);
    opacity: 0.1;
  }
}
@keyframes zoomout {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0.3;
  }
}