.accout-page{
	background: #fff;
	box-shadow: 0px 2px 14px rgba(48, 58, 150, 0.15);
	border-radius: 15px;
	margin-top: 30px;
	font-size: 16px;
	overflow: hidden;
	&.v2{
		margin-top: 0;
	}
	&.pad{
		padding: 30px 25px;
	}
	@media all and (max-width: 767px){
		font-size: 14px;
	}
	.c-img{
		padding-top: 535/560*100%;
	}
	.ct{
		padding: 46px 95px 44px 95px;
		display: flex;
		flex-direction: column;
		min-height: 100%;
		@media all and (max-width: 767px){
			padding: 35px 20px;
			font-size: 14px;
		}
	}
	.title{
		font-size: 28px;
		color: #000;
		font-weight: 600;
		margin-bottom: 7px;
		@media all and (max-width: 767px){
			font-size: 23px;
		}
	}
	.desc{
		line-height: 19px;
		margin-bottom: 29px;
	}
	.link-to{
		color: #000;
		display: block;
		margin-top: auto;
		&.v2{
			margin-top: 7px;
			margin-bottom: 7px;
		}
		a{
			color: $c1;
			font-weight: 600;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.form{
		.label{
			font-weight: 600;
			margin-bottom: 7px;
		}
		.input{
			height: 44px;
			background: rgba(242, 242, 242, 0.71);
			border: 1px solid #E0E0E0;
			border-radius: 5px;
			margin-bottom: 15px;
			width: 100%;
		}
		.button{
			background: $c1;
			box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.5);
			border-radius: 5px;
			transition: all .2s ease-in-out;
			height: 40px;
			width: 100%;
			color: #fff;
			font-weight: 600;
			&:hover{
				background: $c2;
			}
		}
		.otp{
			padding-right: 140px;
			position: relative;
			.time{
				position: absolute;
				width: 120px;
				right: 0;
				text-align: center;
				font-size: 16px;
				color: $c1;
				font-weight: 600;
				top: 10px;
			}
		}
		.form-title{
			text-transform: uppercase;
			color: $c1;
			font-weight: 600;
			margin-bottom: 20px;
		}
		.line{
			position: relative;
			padding-left: 135px;
			min-height: 40px;
			margin-bottom: 15px;
			&.v2{
				margin-bottom: 5px;
			}
			&.v3{
				padding-left: 0;
				.label{
					position: static;
					margin-bottom: 6px;
					width: auto;
				}
			}
			.label{
				position: absolute;
				left: 0;
				top: 8px;
				width: 130px;
				line-height: 1.3;
				&.v2{
					top: 2px;
				}
			}
			@media all and (max-width: 575px){
				padding-left: 0;
				.label{
					position: static;
					margin-top: 0;
					margin-bottom: 5px;
				}
			}
		}
		.facebook-connect{
			display: block;
			width: 100%;
			height: 35px;
			background: #3766B2;
			box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.5);
			border-radius: 5px;
			line-height: 35px;
			color: #fff;
			text-align: center;
			padding: 0 20px;
			i{
				font-size: 21px;
				margin-right: 16px;
				@include middle;
			}
			&:hover{
				background: $c1;
			}
		}
		.input-password{
			position: relative;
			input{
				padding-right: 80px;
				margin-bottom: 0;
			}
			button{
				position: absolute;
				top: 1px;
				bottom: 1px;
				right: 1px;
				font-size: 16px;
				color: $c1;
				width: 75px;
				background: #fff;
				border-left: solid 1px #E0E0E0;
				border-radius: 0 4px 4px 0;
			}
		}
		.i-check{
			margin-bottom: 10px;
			display: block;
			a{
				color: $c1;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.ctrl{
			margin-top: 20px;
			margin-bottom: 35px;
			&.v2{
				margin: 0;
			}
		}
		.i-btn{
			font-size: 15px;
			height: 40px;
			padding: 0 40px;
			width: auto;
			margin-bottom: 0;
			display: inline-block;
		}
		.social{
			p{
				margin: 15px 20px 12px 20px;
				position: relative;
				z-index: 1;
				text-align: center;
				&:after{
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					height: 1px;
					background: #979797;
					top: 50%;
					z-index: -1;
				}
				span{
					@include middle;
					background: #fff;
					padding: 0 10px;
				}
			}
			.login-btn{
				border: solid 1px #D8D8D8;
				border-radius: 5px;
				height: 44px;
				font-size: 16px;
				line-height: 42px;
				text-align: center;
				color: #000;
				display: block;
				transition: all .2s ease-in-out;
				i{
					color: $c1;
					font-size: 18px;
					@include middle;
					margin-right: 20px;
					transition: all .2s ease-in-out;
				}
				&:hover{
					background: $c1;
					color: #fff;
					i{color: #fff;}
				}
			}
		}
		.link{
			color: $c1;
			&.v2{
				text-decoration: underline;
			}
			i{
				font-size: 21px;
				margin-right: 10px;
				@include middle;
			}
			strong{
				font-weight: 500;
			}
		}
		.email-status{
			width: 18px;
			height: 18px;
			@include middle;
			border-radius: 50%;
			background: #A7D22A;
			font-size: 10px;
			text-align: center;
			line-height: 19px;
			color: #fff;
		}
		.help{
			width: 14px;
			height: 14px;
			background: $c1;
			border-radius: 50%;
			@include middle;
			color: #fff;
			text-align: center;
			font-size: 11px;
			font-weight: bold;
			line-height: 15px;
			margin-top: -2px;
		}
		hr{
			border-color: #979797;
			&.mt0{
				margin-top: 0;
			}
		}
		.text-red{
			margin-bottom: 10px;
			color: $c2;
		}
	}
}