footer{
	color: #555;
	margin-top: 30px;
	.line-footer{
		padding-top: 30px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 15px;
			width: calc(100% - 30px);
			height: 1px;
			background: #DFDFDF;
		}
	}
	.logo{
		display: inline-flex;
		align-items: center;
		vertical-align: middle;
		max-width: 265px;
		margin-bottom: 11px;
		img{
			display: block;
			height: 58px;
		}
		.text{
			margin-left: 8px;
			padding-top: 6px;
		}
		.title{
			text-transform: uppercase;
			color: $c1;
			font-weight: bold;
			font-size: 24px;
			line-height: 1.15;
		}
		span{
			font-size: 13px;
			color: #000;
			line-height: 1.3;
		}
	}
	.f-title{
		font-size: 16px;
		font-weight: bold;
		margin-top: 31px;
		margin-bottom: 30px;
	}
	a:hover{
		color: $c1;
	}
	li{
		line-height: 24px;
	}
	.f-line{
		line-height: 24px;
		strong{
			font-weight: 600;
		}
	}
	.store-btn{
		img{
			width: 100%;
			display: block;
		}
	}
	.copyright{
		text-align: center;
		font-size: 16px;
		padding: 10px 0;
	}
	padding-bottom: 40px;
	@media all and (max-width: 1199px){
		.logo{
			img{
				height: 44px;
			}
		}
	}
	@media all and (max-width: 991px){
		padding-bottom: 30px;
	}
	@media all and (max-width: 767px){
		.copyright{
			margin-top: 20px;
		}
		.f-title{
			margin-bottom: 10px;
		}
	}
	@media(max-width: 575px){
		.line-footer{
			&:before{
				width: 100%;
				left: 0;
			}
		}
	}
}
.foot-nav{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000433;
	color: #fff;
	font-weight: bold;
	line-height: 20px;
	padding: 10px 0;
	z-index: 4;
	.item{
		margin-right: 40px;
		@include middle;
		&:last-child{
			margin-right: 0;
		}
	}
	a:hover{
		color: #FAAD42;
	}
	@media all and (max-width: 991px){
		height: 30px;
		.item{
			display: none;
		}
	}
}

.back-to-top{
	display: none;
	position: fixed;
	cursor: pointer;
	z-index: 999;
	text-align: center;
	right: 15px;
	bottom: 15px;
	
	font-size: 22px;
	width: 40px;
	height: 40px;
	line-height: 44px;
	background: rgba(#eb5254, 1);
	color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 5px rgba(#eb5254, 0.5);
	&:hover{
		box-shadow: 0 0 0 5px rgba(#eb5254, 0.8);
	}
}

@media all and (max-width: 991px){

}


@media all and (max-width: 767px){

}