body{
	font-size: 14px;
	font-family: $f1;
	line-height: 1.5;
	color: $ct;
	background: #f1f2f7;
}
.m-tab-btn{
	display: none;
}
.ic-plus{
	width: 14px;
	height: 14px;
	background-image: url('../images/plus.svg');
}
.ic-search{
	width: 20px;
	height: 20px;
	background-image: url('../images/search.svg');
}
.ic-search-white{
	width: 20px;
	height: 20px;
	background-image: url('../images/search.png');
}
.ic-plus2{
	width: 18px;
	height: 18px;
	background-image: url('../images/plus.png');
}
.ic-eye{
	width: 20px;
	height: 14px;
	background-image: url('../images/eye.svg');
	&.off{
		filter: grayscale(100%);
		opacity: 0.5;
	}
}
.ic-up{
	width: 15px;
	height: 11px;
	background-image: url('../images/up.svg');
	&.big{
		width: 26px;
		height: 24px;
		background-size: 100% 100%;
	}
}
.ic-down{
	width: 15px;
	height: 11px;
	background-image: url('../images/down.svg');
	&.big{
		width: 26px;
		height: 24px;
		background-size: 100% 100%;
	}
}
.i-select{
	&:after{
		font-size: 0;
		content: '';
		pointer-events: none;
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -10px;
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-top: 7px solid #000;
	}
}
.break-10{height: 10px;}
.break-15{height: 15px;}

.style-3::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px #fff;
	background-color: #f0f0f0;
  }
  
  .style-3::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #818181;
  }
  
  .style-3::-webkit-scrollbar-thumb {
	background-color: #818181;
	border-radius: 10px;
  }
  .style-3 {
	scrollbar-color: #818181 #f0f0f0;
	scrollbar-width: thin;
  }