header {
	z-index: 9;
	left: 0;
	right: 0;
	top: 0;
	background: #fff;
	box-shadow: 0 2px 14px 0 #cdd1ff;
	.logo {
		display: inline-flex;
		align-items: center;
		vertical-align: middle;
		img {
			display: block;
			height: 58px;
		}
		@media all and (max-width: 1199px) {
			img {
				height: 44px;
			}
		}
	}
	.top {
		background: #000;
		@media all and (max-width: 991px) {
			display: none;
		}
	}
}
.h-hotline {
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	line-height: 20px;
	strong {
		color: #faad42;
	}
	&:hover {
		color: #fff;
	}
}
.nav-top {
	@media all and (min-width: 992px) {
		text-align: right;
		padding: 5px 0 6px 0;
		li {
			@include middle;
			margin-right: 58px;
			&:last-child {
				margin-right: 0;
			}
			a {
				font-size: 13px;
				text-transform: uppercase;
				color: #fff;
				display: block;
				line-height: 20px;
				strong {
					color: #faad42;
				}
				&:hover {
					color: #faad42;
				}
			}
		}
	}
}
.header {
	padding: 18px 0 17px 0;
}
.main-nav {
	& > ul {
		font-size: 0;
		& > li {
			@include middle;
			font-size: 14px;
			margin-right: 40px;
			&:last-child {
				margin-right: 0;
			}
			& > a {
				display: block;
				text-transform: capitalize;
				color: #555;
				font-weight: 600;
				// &:not(:only-child):after{
				// 	font-weight: normal;
				// 	@include font('\f107'); // angle
				// 	@include font('\f0d7'); // caret
				// 	@include font('\f078'); // chevron
				// 	margin-left: 5px;
				// 	@include middle;
				// 	margin-top: -3px;
				// }
			}
			&:hover > a {
				color: $c1;
			}
		}
	}
	li {
		position: relative;
		text-align: left;
		ul {
			position: absolute;
			min-width: 220px;
			@include smooth(0.2s);
			z-index: 1;
			margin-top: 10px;
			pointer-events: none;
			opacity: 0;
			padding-top: 5px;
			ul {
				left: 100%;
				top: 0;
				padding-top: 0;
				padding-left: 5px;
			}
			a {
				background: rgba($c1, 0.85);
				display: block;
				text-transform: uppercase;
				color: #fff;
				font-size: 13px;
				padding: 10px 15px;
				border-bottom: solid 1px rgba(#fff, 0.3);
			}
			li:hover > a {
				background: $c1;
			}
			li:last-child > a {
				border-bottom: none;
			}
		}
		&:hover > ul {
			margin-top: 0;
			pointer-events: all;
			opacity: 1;
		}
	}
	@media all and (max-width: 1199px) {
		> ul {
			> li {
				margin-right: 15px;
				font-size: 13px;
			}
		}
	}
}
.m-nav-open {
	display: none;
}

.message-wrap {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: #e0e2f3;
	cursor: pointer;
	.notification {
		position: absolute;
		top: 8px;
		right: 8px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: linear-gradient(180deg, #ea053b 0%, #d0021b 100%);
		border: solid 2px #e0e2f3;
	}
	@media all and (max-width: 1199px) {
		background: transparent;
		.notification {
			border: solid 2px #fff;
		}
	}
}

.h-account {
	display: inline-flex;
	align-items: center;
	position: relative;
	padding-right: 25px;
	cursor: pointer;
	&.link {
		font-weight: 600;
		color: $c1;
		&:hover {
			color: $c2;
		}
		&:after {
			content: none;
		}
	}
	&:after {
		content: "";
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 7px solid #000;
		position: absolute;
		right: 0;
		top: 8px;
	}
	.avatar {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-right: 10px;
		position: relative;
		img {
			width: 100%;
			height: 100%;
		}
		&::before {
			position: absolute;
			content: "";
			width: 48px;
			height: 48px;
			top: -4px;
			left: -4px;
			border-radius: 50%;
			border: 1px solid #4a8bc6;
		}
		&::after {
			position: absolute;
			content: "";
			width: 16px;
			height: 16px;
			right: -8px;
			bottom: 3px;
			background-image: url("../images/member-normal.png");
			background-size: cover;
		}
	}
	&.silver {
		.avatar {
			&::before {
				border: 1px solid #006df0;
			}
			&::after {
				background-image: url("../images/member-silver.png");
			}
		}
	}
	&.gold {
		.avatar {
			&::before {
				border: 1px solid #fad961;
			}
			&::after {
				background-image: url("../images/member-gold.png");
			}
		}
	}
	.name {
		font-size: 14px;
		color: #555;
		font-weight: bold;
		line-height: 1;
		margin-top: 5px;
	}
	span {
		font-size: 11px;
		color: $c1;
		line-height: 13px;
	}
	.pane {
		position: absolute;
		width: 144px;
		box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		background: #fff;
		left: 0;
		top: 100%;
		z-index: 1;
		margin-top: 10px;
		padding: 5px 15px 2px 15px;
		display: none;
		z-index: 2;
		cursor: auto;
		a {
			display: block;
			font-weight: 500;
			line-height: 32px;
			color: #000;
			padding: 0 10px;
			&:hover {
				color: $c1;
			}
		}
		li:last-child {
			border-top: solid 1px rgba(#979797, 0.2);
		}
	}
	@media all and (max-width: 991px) {
		display: none;
	}
}
.acd-drop {
	&:after {
		content: "\002B";
	}
	&.active {
		&:after {
			content: "\2212";
		}
	}
}

.message-wrap {
	.pane {
		position: absolute;
		width: 294px;
		max-height: 300px;
		box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		background: #fff;
		right: -10px;
		top: 100%;
		z-index: 1;
		margin-top: 10px;
		padding: 10px 0 44px;
		display: none;
		cursor: auto;
		.ct-message-wrap {
			display: flex;
			padding: 12px;
			img {
				width: 40px;
				height: 40px;
				margin-right: 8px;
			}
			.ct {
				line-height: 1.2;
				display: flex;
				flex-direction: column;
				.text {
					color: #000;
					margin-bottom: 3px;
				}
				.time {
					color: #565656;
					font-size: 12px;
				}
				&.unread {
					.text {
						color: $c1;
					}
				}
			}
		}
		ul {
			max-height: 245px;
			overflow: auto;
			li {
				&:not(:last-child) {
					border-bottom: 0.5px solid #cfcfcf;
				}
			}
		}
		.tick-read {
			height: 44px;
			border-top: 0.5px solid #cfcfcf;
			position: absolute;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $c1;
			cursor: pointer;
		}
	}
}

@media all and (min-width: 992px) {
	.m-nav,
	.m-nav-over {
		display: none !important;
	}
	header.fixed {
		position: fixed;
		box-shadow: 0 0 5px 0 rgba(#666, 0.5);
		.logo {
			img {
			}
		}
		.top {
			display: none;
		}
	}
}

@media all and (max-width: 991px) {
	$wid: 280px;
	.menu-btn {
		@include ibl(middle);
		width: 40px;
		height: 40px;
		border-radius: 100%;
		// position: absolute;
		z-index: 1;
		i {
			display: block;
			margin: auto;
			border-top: solid 2px $c1;
			width: 17px;
			border-bottom: double 7px $c1;
			height: 12px;
		}
		&.act i {
			width: auto;
			height: auto;
			border: none;
			&:after,
			&:before {
				content: "";
				display: block;
				margin: auto;
				width: 17px;
				border-bottom: solid 2px $c1;
			}
			&:after {
				transform: rotate(-45deg);
				margin-top: -2px;
			}
			&:before {
				transform: rotate(45deg);
			}
		}
		&.v2 {
			background: $c1;
			i {
				border-color: #fff;
			}
			&.act i {
				&:after,
				&:before {
					border-color: #fff;
				}
			}
		}
	}
	.main-nav {
		display: none;
	}
	.m-nav-over {
		@include fixed(0);
		z-index: 998;
		background: rgba(#000, 0.5);
		transition: all 0.15s ease-in-out;
		cursor: pointer;
	}
	.m-nav {
		display: block;
		position: fixed;
		top: 0;
		width: $wid;
		bottom: 0;
		z-index: 999;
		color: #fff;
		background: #333;
		transition: all 0.25s ease-in-out;
		right: -$wid;
		&.active {
			box-shadow: 0 0 6px 0 rgba(#fff, 0.15);
			right: 0;
			.m-nav-close {
				visibility: visible;
				opacity: 1;
			}
		}
		.m-nav-close {
			position: absolute;
			top: 0;
			width: 40px;
			height: 40px;
			right: 100%;
			background: #444;
			outline: none;
			color: #fff;
			font-size: 27px;
			cursor: pointer;
			transition: inherit;
			opacity: 0;
			visibility: hidden;
			font-family: initial;
		}
		.nav-ct {
			height: 100%;
			overflow: auto;
			padding-bottom: 20px;
			> ul {
				a {
					display: block;
					font-size: 14px;
					font-family: arial;
					line-height: 20px;
					padding: 10px 15px 10px 18px;
					border-bottom: solid 1px #444;
					position: relative;
					span {
						// display: none;
					}
					&.h-account {
						color: white;
						font-weight: normal;
					}
				}
				ul {
					background: rgba(#fff, 0.04);
					display: none;
					a {
						padding-left: 36px;
					}
					ul a {
						padding-left: 54px;
					}
				}
			}
		}
		.acd-drop {
			width: 40px;
			height: 40px;
			float: right;
			position: relative;
			z-index: 1;
			font-size: 20px;
			color: inherit;
			font-family: monospace;
			outline: none;
			cursor: pointer;
			border-left: solid 1px #444;
			background: rgba(#fff, 0.04);
		}
		.h-hotline {
			display: block;
			margin: 10px 18px 10px 18px;
		}
		.h-account {
			display: inline-flex;
			padding: 0;
			margin-top: 15px;
			width: 100%;
			flex-wrap: wrap;
			&.link {
				margin-top: 0;
				color: #faad42!important;
				&:after {
					content: none;
				}
			}
			&:after {
				display: none;
			}
			.avatar {
				margin: 0 20px;
				img {
					border-radius: 50%;
				}
				&::before {
					border-radius: 50%;
				}
				&::after {
					border-radius: 50%;
				}
			}
			.name {
				color: white;
			}
			span {
				color: white;
			}
			.pane {
				display: block;
				position: inherit;
				width: 100%;
				background: transparent;
				padding: 0;
				box-shadow: none;
				margin-bottom: 10px;
				ul{
					li{
						border-bottom: solid 1px rgba(151, 151, 151, 0.2);
						border-top: none;
						&:last-child{
							border-bottom: solid 2px #faad42;
							padding-bottom: 12px;
						}
						a{
							color: #fff;
							padding: 0 18px;
						}
					}
				}
			}
		}
	}
	.header {
		padding: 0;
	}
	header {
		position: relative;
		padding: 10px 0;
		.logo {
			img {
				max-height: 60px;
			}
		}
		.m-nav-open {
			margin-right: -10px;
		}
		&.m-fixed {
			position: fixed;
			box-shadow: 0 0 5px 0 rgba(#666, 0.5);
		}
		ul li .h-account {
			display: none;
		}
		.logo-wrap {
			flex-grow: 1;
		}
	}
}

@media all and (max-width: 360px) {
	.message-wrap .pane{
		width: 270px;
	}
}
