.slider {
	position: relative;
	box-shadow: 0px 2px 14px rgba(63, 75, 186, 0.15);
	overflow: hidden;
	.slick-list {
		margin: 0;
		.slick-slide {
			margin: 0;
		}
	}
	.item {
		position: relative;
		padding-bottom: 40px;
		vertical-align: middle;
		height: 360px;
		width: auto;
		background: linear-gradient(360deg, #004266 0%, #00598a 100%), #ffffff;
	}
	.img img {
		display: block;
		width: 100%;
	}
	.slider-wrap {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		.ct {
			flex: 0 0 50%;
			text-align: center;
			font-size: 18px;
			h1,
			h2 {
				font-size: 44px;
				text-transform: uppercase;
				background: -webkit-linear-gradient(270deg, #ffa800 4.6%, #ffcd6c 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-weight: 600;
				line-height: 1.3;
				margin: -0.3em 0;
			}
			.adv {
				margin-top: 1em;
				p {
					color: #fff;
					font-weight: 500;
				}
			}
			.btn-slider {
				padding: 8px 19px;
				background: linear-gradient(270deg, #ffa800 4.6%, #ffcd6c 100%);
				border-radius: 20px;
				color: $c1;
				font-weight: 500;
				text-transform: uppercase;
				letter-spacing: 2px;
				cursor: pointer;
				margin-top: 0.8em;
				&:hover{
					opacity: 0.9;
				}
			}
		}
		@media (max-width: 1366px) {
			.ct {
				font-size: 14px;
				h1,
				h2 {
					font-size: 36px;
				}
			}
		}
		@media (max-width: 991px) {
			.img {
				width: 45%;
			}
		}
		@media (max-width: 767px) {
			align-items: flex-end;
			.ct {
				flex: 0 0 100%;
				margin-bottom: 20px;
				h1,
				h2 {
					font-size: 24px;
				}
				.adv,
				.btn-slider {
					margin-top: 5px;
				}
			}
			.img {
				position: absolute;
				height: 60%;
				width: auto;
				top: 20px;
				left: 50%;
				transform: translateX(-50%);
				opacity: 0.5;
				z-index: -1;
			}
		}
	}
	.slick-arrow {
		position: absolute;
		text-align: center;
		top: 50%;
		margin-top: -20px;
		height: 40px;
		&:hover {
		}
		&.prev {
			left: 20px;
		}
		&.next {
			right: 20px;
		}
	}
	.slick-dots {
	}
	@media (max-width: 1199px) {
		height: 360px;
		width: auto;
		.img img {
			display: block;
			height: 100%;
			width: auto;
		}
	}
	@media (max-width: 767px) {
		.slider-wrap {
			.ct {
				width: 100%;
			}
		}
	}
}

.ctn-h-bar {
	margin-top: -40px;
}
@media (max-width:991px) {
	.ctn-h-bar {
		margin-top: -65px;
	}
}
@media (max-width:575px) {
	.ctn-h-bar {
		margin-top: 20px;
	}
}

.h-bar {
	position: relative;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0px 2px 14px rgba(63, 75, 186, 0.15);
	padding: 12px 20px;
	margin-bottom: 20px;
	@media all and (max-width: 991px) {
		.h-tab {
			margin-bottom: 10px;
		}
	}
	@media all and (max-width: 767px) {
		padding: 10px 10px;
	}
}
.h-tab {
	display: block;
	font-size: 0;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
	&.v2 {
		margin-bottom: 20px;
		li a {
			background: #fff;
		}
	}
	li {
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;
		a {
			display: block;
			height: 47px;
			font-size: 14px;
			text-transform: uppercase;
			line-height: 47px;
			color: #555;
			font-weight: 600;
			padding: 0 22px;
			border-radius: 5px;
			background: #ecf3ff;
			&:hover,
			&.active {
				background: $c2;
				color: #fff;
			}
		}
	}

	@media all and (max-width: 767px) {
		&.v2 {
			margin-top: 20px;
		}
		li {
			margin-right: 6px;
			a {
				height: 40px;
				font-size: 13px;
				padding: 0 16px;
				line-height: 41px;
			}
		}
	}
}

.search {
	background: $c1;
	color: #fff;
	position: relative;
	border-radius: 5px;
	display: block;
	text-align: center;
	padding: 4px 5px 4px 48px;
	.search-btn {
		background: rgba(#000, 0.3);
		position: absolute;
		top: 4px;
		left: 3px;
		bottom: 4px;
		width: 40px;
		line-height: 40px;
		border-radius: 3px;
	}
	.form {
		position: relative;
		width: 100%;
		input {
			width: 100%;
			height: 40px;
			border: none;
			border-radius: 3px;
			font-weight: 600;
			text-align: center;
			background: none;
			padding-right: 42px;
			color: #fff;
			@include place(#fff);
			&:focus,
			&.focus {
				background: #fff;
				text-align: left;
				color: #000;
				+ button {
					opacity: 1;
				}
			}
		}
		button {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 40px;
			border-radius: 0 3px 3px 0;
			background: #eaecff;
			opacity: 0;
			transition: background 0.2s ease-in-out;
			&:hover {
				background: #e1e1e1;
			}
		}
	}

	.pane {
		position: absolute;
		z-index: 3;
		right: 0;
		border: 1px solid #dadada;
		box-shadow: 0px 2px 24px rgba(48, 58, 150, 0.25);
		border-radius: 10px;
		background: #fff;
		width: 430px;
		text-align: left;
		padding: 25px 30px 10px 30px;
		font-size: 16px;
		top: 100%;
		.title {
			text-transform: uppercase;
			color: #000;
			font-weight: 600;
			margin-bottom: 15px;
		}
		.line {
			position: relative;
			padding-left: 115px;
			margin-bottom: 20px;
			.label {
				position: absolute;
				left: 0;
				width: 110px;
				color: #000;
				font-weight: 600;
				top: 8px;
			}
			.i-select {
				position: relative;
				&:after {
					margin-top: -4px;
				}
				select {
					height: 44px;
					border: 1px solid #e0e0e0;
					border-radius: 5px;
					color: #555;
				}
			}
			.i-check {
				cursor: pointer;
				display: block;
				input {
					&:checked + span {
						background: $c1;
						color: #fff;
						border-color: $c1;
					}
				}
				span {
					display: block;
					height: 44px;
					border: 1px solid #e0e0e0;
					border-radius: 5px;
					color: #555;
					line-height: 42px;
					text-align: center;
				}
			}
			.button {
				background: $c1;
				color: #fff;
				height: 40px;
				border-radius: 5px;
				font-size: 14px;
				text-transform: uppercase;
				font-weight: 600;
				padding: 0 20px;
				transition: all 0.2s ease-in-out;
				i {
					margin-top: -4px;
					margin-right: 10px;
				}
				&:hover {
					background: $c2;
				}
			}
		}
		@media all and (max-width: 991px) {
			left: 0;
			right: auto;
			// width: 280px;
			// padding: 15px 15px 10px 15px;
			// font-size: 14px;
			// .line{
			// 	padding-left: 80px;
			// 	margin-bottom: 10px;
			// 	.label{
			// 		width: 78px;
			// 	}
			// 	.i-select{
			// 		select{
			// 			height: 38px;
			// 		}
			// 	}
			// 	.i-check{
			// 		span{
			// 			height: 38px;
			// 			line-height: 36px;
			// 		}
			// 	}
			// }
		}
		@media all and (max-width: 767px) {
			width: 280px;
			padding: 15px 15px 5px 15px;
			.line {
				padding-left: 0;
				.label {
					position: static;
					width: auto;
					margin-bottom: 6px;
				}
				.i-select {
					select {
						height: 40px;
					}
				}
				.i-check {
					span {
						height: 40px;
						line-height: 38px;
					}
				}
			}
		}
	}
}
.block-title {
	font-weight: bold;
	color: $c1;
	font-size: 28px;
	line-height: (38/28);
	margin-bottom: 13px;
	margin-top: 20px;
	@media all and (max-width: 767px) {
		font-size: 23px;
	}
}

.drop {
	position: relative;
	display: inline-block;
	.label {
		position: relative;
		cursor: pointer;
		padding-right: 18px;
		text-decoration: underline;
		&:after {
			content: "";
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid #fff;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -2px;
		}
	}
	&.v2 {
		.label {
			&:after {
				top: auto;
				bottom: 1px;
				margin-top: 0;
			}
			&:before {
				content: "";
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid #fff;
				position: absolute;
				right: 0;
				top: 2px;
			}
		}
	}
	ul {
		position: absolute;
		left: -20px;
		top: 100%;
		margin-top: 5px;
		background: #ffffff;
		border: 1px solid #dadada;
		box-shadow: 0px 2px 24px rgba(48, 58, 150, 0.25);
		border-radius: 10px;
		z-index: 1;
		text-align: left;
		padding: 13px 0;
		min-width: 150px;
		transition: all 0.2s ease-in-out;
		opacity: 0;
		visibility: hidden;
		a {
			display: block;
			font-size: 16px;
			padding: 6px 20px;
			font-weight:500;
			color: #000;
			position: relative;
			&:before {
				content: "";
				width: 5px;
				height: 9px;
				border-right: solid 2px $c1;
				border-bottom: solid 2px $c1;
				position: absolute;
				left: 7px;
				top: 9px;
				transform: rotate(45deg);
				opacity: 0;
				transition: all 0.2s ease-in-out;
			}
			&:hover {
				color: $c1;
			}
			&.active {
				color: $c1;
				&:before {
					opacity: 1;
				}
			}
		}
	}
	&.active {
		ul {
			opacity: 1;
			visibility: visible;
		}
	}
}
.list-table {
	border-radius: 15px;
	box-shadow: 0px 2px 14px rgba(63, 75, 186, 0.15);
	overflow: hidden;
	table {
		width: 100%;
		text-align: center;
		color: #000;
	}
	th {
		background-color: #5d7d8e;
		padding: 16px 0 13px 0;
		color: #fff;
		font-weight: 600;
		font-size: 13px;
		line-height: 18px;
		.drop .label {
			white-space: nowrap;
		}
		&:first-child {
			padding-left: 15px;
		}
		&.no-mark {
			padding-left: 0;
		}
	}
	tr {
		&:nth-child(2n) td {
			background-color: #f7f7f7;
		}
	}
	td {
		padding: 18px 5px 16px 5px;
		vertical-align: middle;
		.ic {
			margin-bottom: 4px;
		}
		&:first-child {
			position: relative;
			&:before {
				content: "";
				position: absolute;
				width: 8px;
				top: 0;
				bottom: 0;
				background-color: #63a41e;
				left: 0;
			}
			&.v2:before {
				background-color: $c2;
			}
			&.no-mark:before {
				content: none;
			}
		}
		&.blue {
			color: $c1;
		}
		&.red {
			color: $c2;
		}
		.ibl {
			@include middle;
			text-align: left;
		}
		.phone-number {
			font-size: 18px;
			color: $c1;
			font-weight: 600;
			img{
				vertical-align: top;
				margin-left: 15px;
			}
			&.small {
				font-size: 14px;
			}
		}
		p.pay{
			font-size: 10px;
			color: #555;
		}
		.text-4266{
			font-weight: 600;
			color: $c1;
			display: block;
			&.v2{
				display: inline;
				font-size: 12px;
				font-weight: normal;
			}
		}
		.price {
			display: block;
			font-weight: 600;
			color: #e02020;
			cursor: pointer;
			&.reverse {
				text-decoration: underline;
			}
			&:hover {
				color: $c1;
				text-decoration: underline;
			}
		}
		.date-start{
			font-size: 10px;
			margin-top: 3px;
		}
		.action {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.auction-btn {
				display: block;
				flex-grow: 1;
				vertical-align: middle;
				border-radius: 5px;
				background: #5bc2ae;
				color: #fff;
				padding: 5px 15px;
				text-align: left;
				font-weight: 600;
				p {
					line-height: 1.4;
					&:first-child {
						font-size: 12px;
					}
				}
				&.v2 {
					background: $c2;
				}
				&:hover {
					opacity: 0.8;
				}
			}
			i {
				margin: 0 15px;
				font-size: 30px;
				color: $c1;
			}
			.result{

			}
			.not-participate{
				color: #555;
			}
		}

		.countdown {
			white-space: nowrap;
			background: transparent;
			padding: 0;
			margin-bottom: 10px;
			i {
				display: none;
				font-style: normal;
				margin: 0 3px;
			}
			.item {
				display: inline-block;
				height: 20px;
				width: 20px;
				line-height: 20px;
				font-size: 14px;
				font-weight: bold;
				color: white;
				background: linear-gradient(223.78deg, #004266 0%, #161A24 100%);
				&:not(:last-child){
					&:after{
						content: ':';
						color: $c1;
						font-size: 16px;
						position: absolute;
						right: -8px;
						top: 50%;
						line-height: 32px;
						margin-top: -16px;
					}
				}
				&.d,&.h,&.m,&.s {
					i {
						display: block;
						font-size: 10px;
						color:#969696;
						font-weight: normal;
						margin: 0;
					}
				}
			}
		}
	}
	.per-label {
		display: inline-block;
		vertical-align: middle;
		background: #cdd1ff;
		border-radius: 3px;
		text-align: center;
		line-height: 21px;
		color: #000;
		width: 37px;
		margin-top: -2px;
		margin-right: 4px;
	}
	@media all and (max-width: 1199px) {
		overflow-x: auto;
		overflow-y: hidden;
		table {
			min-width: 1000px;
			white-space: nowrap;
		}
	}

	@media all and (max-width: 767px) {
		td {
			padding-top: 11px;
			padding-bottom: 10px;
			.phone-number {
				font-size: 16px;
			}
		}
	}
}
.not-started-yet{
	font-weight: normal;
	text-transform: uppercase;
	font-size: 12px;
	padding: 5px 12px;
	background: #61B7E5;
	border-radius: 2px;
}
.list-table-wrap {
	position: relative;
	margin-top: 20px;
	.list-table {
		border-radius: 15px 15px 0 0;
		position: relative;
		min-height: 280px;
		pointer-events: none;
	}
	.list-table-over {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 280px;
		@include gradient((rgba(#fff, 0), rgba(#fff, 0.9), rgba(#fff, 1)));
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding-top: 60px;

		.title {
			font-weight: bold;
			font-size: 16px;
			margin-bottom: 22px;
			color: #000;
		}
		.i-btn {
			@include middle;
			width: 134px;
			height: 40px;
			line-height: 40px;
			margin: 0 8px;
		}
	}
	@media all and (max-width: 767px) {
		.list-table-over {
			.i-btn {
				width: 120px;
			}
		}
	}
}

.auction-popup {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 2px 24px rgba(48, 58, 150, 0.25);
	border: 1px solid #dadada;
	padding: 20px 30px 25px 30px;
	width: 430px;
	max-width: 97vw;
	z-index: 3;
	transition: opacity 0.2s ease-in-out;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	margin-top: 12px;
	margin-left: -220px;

	&.active {
		opacity: 1;
		visibility: visible;
	}
	.auction-popup-close {
		position: absolute;
		width: 27px;
		height: 27px;
		border-radius: 50%;
		top: -14px;
		right: -14px;
		border: solid 2px #fff;
		background: #d8d8d8;
		font-size: 24px;
		line-height: 23px;
		color: #555;
		transition: background, color 0.2s ease-in-out;
		&:hover {
			background: $c2;
			color: #fff;
		}
	}
	.label {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 10px;
		span {
			color: $c2;
			font-weight: normal;
		}
	}
	table {
		width: 100%;
	}
	th {
		font-weight: 600;
		padding: 8px 0;
		border-bottom: solid 1px #dfdfdf;
	}
	td {
		border-bottom: solid 1px #dfdfdf;
		span {
			display: block;
			padding: 9px 0;
			margin-top: -1px;
			margin-bottom: -1px;
		}
		&:first-child {
			span {
				margin-left: -30px;
				padding-left: 30px;
			}
		}
		&:last-child {
			span {
				margin-right: -30px;
				padding-right: 30px;
			}
		}
	}
	tr {
		&.active {
			td span {
				background: #ededed;
				color: $c1;
			}
		}
	}
	@media all and (max-width: 767px) {
		width: 300px;
		margin-left: -150px;
		left: 50% !important;
		padding: 15px 15px 15px 15px;
		td {
			&:first-child {
				span {
					margin-left: -12px;
					padding-left: 12px;
				}
			}
			&:last-child {
				span {
					margin-right: -12px;
					padding-right: 12px;
				}
			}
		}
	}
}

.i-check {
	cursor: pointer;
	@include middle;
	input {
		display: none;
		&:checked + i {
			&:after {
				opacity: 1;
			}
		}
	}
	i {
		border-radius: 3px;
		border: solid 1px #979797;
		box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
		display: block;
		background: #fff;
		width: 20px;
		height: 20px;
		position: relative;
		&:after {
			content: "";
			width: 7px;
			height: 13px;
			border-bottom: solid 3px #4a90e2;
			border-right: solid 3px #4a90e2;
			position: absolute;
			transform: rotate(45deg);
			top: 50%;
			margin-top: -8px;
			left: 50%;
			margin-left: -3px;
			opacity: 0;
			transition: all 0.1s ease-in-out;
		}
	}

	&.v2 {
		position: relative;
		padding-left: 32px;
		i {
			position: absolute;
			left: 0;
		}
	}
}
.i-btn {
	height: 32px;
	box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.5);
	background: #555;
	color: #fff;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	font-weight: 600;
	border-radius: 5px;
	display: block;
	padding: 0 10px;
	width: 177px;
	max-width: 100%;
	margin-bottom: 5px;
	&.red {
		background: $c2;
	}
	&.blue {
		background: $c1;
	}

	&:hover {
		color: #fff;
		opacity: 0.7;
	}
}

.paginations {
	margin-top: 30px;
	text-align: center;
	font-size: 0;
	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 2px;
		font-size: 14px;
		span {
			display: block;
			padding: 0 11px;
			letter-spacing: 0.1em;
		}
		a {
			display: block;
			min-width: 32px;
			height: 32px;
			padding: 0 12px;
			text-align: center;
			border-radius: 5px;
			font-size: 14px;
			line-height: 32px;
			color: $c1;
			background: #fff;
			box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.3);
			&:hover,
			&.active {
				background: $c1;
				color: #fff;
			}
			@media all and (max-width: 767px) {
				min-width: 28px;
				height: 28px;
				font-size: 13px;
				line-height: 28px;
				padding: 0 8px;
			}
		}
	}
}

.login-request {
	@media (min-width: 576px) {
		.modal-dialog {
			max-width: 555px;
		}
	}
	.modal-content {
		border: none;
		border-radius: 0;
		padding: 29px 34px 29px 22px;
	}
	.login-request-ct {
		display: flex;
		.logo {
			flex: 0 0 66px;
			height: 66px;
			border-radius: 50%;
			overflow: hidden;
			margin-right: 21px;
			img {
				width: 100%;
				height: 100%;
			}
		}
		p {
			font-size: 16px;
			font-weight: 600;
			color: #000;
			margin-bottom: 15px;
		}
		.close-btn {
			color: $c1;
			@include middle;
			margin-right: 35px;
			font-weight: 600;
			&:hover {
				opacity: 0.8;
			}
		}
		.login-btn {
			@include middle;
			background: $c1;
			color: #fff;
			border-radius: 5px;
			text-transform: uppercase;
			height: 41px;
			font-weight: 600;
			padding: 0 10px;
			line-height: 41px;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.search-result {
	.block-title {
		@include middle;
	}
	.item {
		@include middle;
		border: solid 1px #cf4040;
		height: 22px;
		color: #630808;
		font-size: 14px;
		line-height: 20px;
		padding: 0 32px 0 10px;
		position: relative;
		background: #fff1f1;
		margin-left: 5px;
		margin-top: 4px;
		button {
			position: absolute;
			top: -1px;
			bottom: -1px;
			right: -1px;
			width: 22px;
			font-size: 20px;
			line-height: 1;
			background: #cf4040;
			color: #fff;
			&:hover {
				background: $c1;
			}
		}
	}
	@media all and (max-width: 767px) {
		margin-bottom: 15px;
		.block-title {
			display: block;
			margin-bottom: 6px;
		}
		.item {
			margin-left: 0;
			margin-right: 4px;
		}
	}
}

.list-table .loading {
	td {
		position: relative;
		overflow: hidden;
		background-color: #f1f1f1;
		color: transparent;
		transition: color 0.2s;

		* {
			// visibility: hidden;
			opacity: 0;
			transition: opacity 0.2s;
		}

		&:before {
			visibility: visible;
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			right: 0;
			z-index: 2;
			border-color: #fff;
			border-style: solid;
			border-width: 12px 20px 12px 20px;
			background-color: #fff !important;
			padding: 0 41%;
			background-clip: content-box;
		}

		&:after {
			visibility: visible;
			content: "";
			position: absolute;
			top: 12px;
			bottom: 12px;
			width: 15%;
			max-width: 15px;
			left: 0px;
			z-index: 1;
			background: linear-gradient(to right, rgba(#ccc, 0), rgba(#ccc, 0.5), rgba(#ccc, 0));

			animation: timeline;
			animation-duration: 1s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
	}
}

@keyframes timeline {
	0% {
		left: -20%;
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	90% {
		left: 100%;
	}
	100% {
		left: 100%;
	}
}
