.breadcrumbs {
	background: #d4d7f3;
}
.breadcrumb {
	background: none;
	padding: 0;
	border-radius: 0;
	color: $c1;
	li {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		height: 30px;
		line-height: 30px;
		padding: 0 38px 0 20px;
		&:before {
			content: "";
			position: absolute;
			width: 18px;
			top: 0;
			bottom: 0;
			right: 0;
			background-image: url("../images/arrow-right.png");
			background-size: 100% 100%;
		}
		&:last-child {
			padding-right: 0;
			&:before {
				content: none;
			}
		}
		@media all and (max-width: 767px) {
			padding: 0 22px 0 8px;
		}
	}
}
.breadcrumb a {
	display: block;
	&:hover {
		color: $c2;
	}
}
.sim-detail {
	box-shadow: 0px 2px 14px rgba(63, 75, 186, 0.15);
	border-radius: 15px;
	// padding-top: 25px;
	// padding-bottom: 22px;
	margin-bottom: 20px;
	.wrap-sim-detail-left {
		height: 100%;
		margin-right: -30px;
		padding-top: 25px;
		padding-bottom: 22px;
		background: #f7f7f7 !important;
		border-radius: 15px 0 0 15px;
		&.v2 {
			background: #fff !important;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.booking-box {
			margin: auto 20px;
			.box {
				padding: 12px;
				border: none;
				background: #e9eff5;
				.form {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
				.button {
					height: 40px;
					padding: auto 20px;
					font-size: 16px;
					color: $c1;
					background: #ffffff;
					box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
					border-radius: 4px;
					&:hover {
						background: $c1;
						color: #fff;
					}
				}
			}
		}
		.access-wrap {
			padding: 0 20px;
			margin: 20px 0 60px;
			.nav-pills {
				height: 46px;
				border-radius: 46px;
				overflow: hidden;
				.nav-item {
					flex: 0 0 calc(100% / 3);
					text-align: center;
					border-radius: 15px;
					overflow: hidden;
					.nav-link {
						height: 100%;
						padding: 5px 0;
						&.active {
							background: linear-gradient(270deg, #00779f 0%, #004266 100%);
						}
						img {
							width: 20px;
							height: 20px;
							border-radius: 50%;
						}
						p {
							font-size: 10px;
						}
					}
				}
			}
			.tab-content ul li {
				list-style-type: disc;
				list-style-position: inside;
			}
		}
		.action-wallet {
			padding: 0 20px;
			a {
				position: relative;
				display: block;
				height: 55px;
				padding: 0 25px 0 10px;
				line-height: 55px;
				transition: 0.3s;
				&.active,&:hover {
					background: #fafafa;
					color: $c1;
				}
				img {
					margin-right: 24px;
				}
				.ic-right {
					position: absolute;
					margin: 0;
					right: 10px;
					top: 50%;
					transform: translateY(-50%);
				}
				border-top: 0.2px solid #979797;
				&:last-child {
					border-bottom: 0.2px solid #979797;
				}
			}
		}
	}
	.wrap-sim-detail-right {
		height: 100%;
		padding-top: 25px;
		padding-bottom: 22px;
		background: #fff;
		border-radius: 0 15px 15px 0;
		.wallet-list {
			height: 100%;
			margin-right: 20px;
			padding: 30px 30px 0;
			border-radius: 5px;
			background: rgba(250, 250, 250, 0.9);
			.wallet-list-table {
				max-height: 465px;
				overflow: auto;
				table {
					min-width: 600px;
					tr {
						height: 60px;
						border-bottom: 0.2px solid #979797;
						td {
							vertical-align: middle;
							color: #000;
							&:first-child {
								width: auto;
							}
							.radio {
								padding-left: 40px;
								font-weight: normal;
								color: #000;
								i {
									top: 50%;
									transform: translateY(-50%);
								}
								p.text-555{
									font-size: 12px;
								}
							}
						}
					}
				}
			}
		}
	}
	.info {
		position: relative;
		z-index: 1;
	}
	.head {
		border-bottom: solid 1px #d9dae0;
		padding: 0 20px 10px;
		margin-bottom: 15px;
		.title {
			font-weight: bold;
			color: $c1;
			font-size: 25px;
			&.v2 {
				color: #4a810f;
			}
			.view {
				@include middle;
				margin-right: 15px;
				width: 24px;
				height: 24px;
				border-radius: 2px;
				background: #f2f5fb;
				text-align: center;
				line-height: 23px;
				i {
					width: 14px;
				}
			}
		}
		.social {
			a {
				@include middle;
				width: 30px;
				height: 30px;
				text-align: center;
				line-height: 30px;
				color: #fff;
				&.f {
					background: #39579a;
				}
				&.t {
					background: #50abf1;
				}
				&.p {
					background: #cd1d1f;
				}
				&.v {
					background: #4b75a3;
				}
				&.l {
					background: #0079bb;
				}
				&.e {
					background: #303a96;
				}
				&:hover {
					background: $c1;
				}
			}
		}
		@media all and (max-width: 1199px) {
			padding-left: 25px;
			padding-right: 15px;
		}
		@media all and (max-width: 991px) {
			margin-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
		}
		@media all and (max-width: 767px) {
			.title {
				font-size: 22px;
			}
			.social {
				margin-top: 5px;
			}
		}
	}
	.group {
		max-width: 465px;
		border-bottom: solid 1px #d9dae0;
		padding-left: 50px;
		padding-bottom: 12px;
		margin-bottom: 12px;
		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		@media all and (max-width: 1199px) {
			padding-left: 25px;
		}
		@media all and (max-width: 991px) {
			padding-left: 20px;
			padding-right: 20px;
			max-width: none;
		}
	}
	.table-wrap {
		padding: 10px 25px 0 25px;
	}
	table {
		width: 100%;
		td {
			color: #555;
			padding: 4px 0;

			&:first-child {
				width: 100px;
				padding-right: 15px;
			}
			strong {
				font-weight: 600;
				color: #000;
			}
			.help {
				width: 14px;
				height: 14px;
				background: $c1;
				border-radius: 50%;
				@include middle;
				color: #fff;
				text-align: center;
				font-size: 11px;
				font-weight: bold;
				line-height: 15px;
				margin-top: -2px;
			}
		}
	}
	.ct-auction {
		padding: 0px 20px 20px;
		display: flex;
		.ct-left {
			flex: 0 0 calc(50% - 10px);
			margin-right: 20px;
			.type-auction {
				position: relative;
				display: inline-block;
				height: 34px;
				line-height: 34px;
				font-weight: 500;
				color: #417505;
				background: rgba(157, 183, 130, 0.3);
				border-radius: 5px;
				padding: 0 12px 0 42px;
				img {
					position: absolute;
					top: 5px;
					left: 5px;
				}
				&.reverse {
					background: rgba(224, 32, 32, 0.1);
					color: $c2;
				}
			}
			.info-auction {
				margin: 30px 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				.item-info {
					flex: 0 0 calc(50% - 10px);
					margin: 10px auto;
					.title {
						font-size: 14px;
						line-height: 17px;
						font-weight: 600;
						letter-spacing: -0.5px;
					}
					.date {
						font-size: 13px;
						line-height: 22px;
						color: #565656;
						letter-spacing: -0.5px;
					}
					.price {
						font-weight: 600;
						font-size: 15px;
						line-height: 18px;
						&.now {
							color: #417505;
						}
						&.sequent {
							color: #004266;
						}
					}
					.countdown {
						margin-top: 5px;
						.item {
							width: 30px;
							height: 30px;
							line-height: 30px;
						}
					}
				}
			}
			.booking-box {
				margin-right: 0;
				.box {
					background: transparent;
					border: none;
					border-radius: none;
					padding: 0;
					margin-top: 0;
					.l-box {
						margin-right: 0;
						max-width: inherit;
					}
					.form {
						padding-right: 0;
						margin-top: 10px;
					}
					.booking-box-price {
						margin-top: 10px;
						font-size: 18px;
						font-weight: bold;
						sup {
							font-size: 12px;
							font-weight: 600;
						}
					}
				}
			}
			.winner-wrap {
				position: relative;
				text-align: center;
				.avatar-winner {
					position: absolute;
					width: 72px;
					height: 72px;
					border-radius: 50%;
					left: 50%;
					top: 24px;
					transform: translateX(-37px);
				}
				.name {
					font-size: 16px;
					font-weight: 600;
				}
			}
		}
		.ct-right {
			flex-grow: 1;
			text-align: center;
			.active-auction {
				display: flex;
				height: 34px;
				width: 100%;
				border-radius: 5px;
				background: #ececec;
				.item {
					position: relative;
					flex: 0 0 50%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 0 17px;
					&:first-child {
						&::after {
							position: absolute;
							content: "";
							right: 0;
							top: 5px;
							height: 24px;
							width: 1px;
							background: #969696;
						}
					}
				}
			}
			.info-auction-date {
				margin: 30px 0 20px;
				text-align: center;
			}
			.countdown {
				.item {
					width: 40px;
					height: 35px;
					line-height: 35px;
					&.d {
						display: none;
					}
					i {
						display: block;
						font-style: normal;
						font-family: "AvenirNext";
						font-weight: normal;
						font-size: 11px;
						color: #565656;
					}
				}
			}
			.auction-list {
				margin-top: 40px;
				border: 1px solid #dadada;
				overflow: hidden;
				.auction-list-table {
					position: relative;
					max-height: 400px;
					overflow: auto;
					.rocket {
						position: absolute;
						width: 28%;
						right: 20px;
						bottom: 20px;
					}
					.noti-not-auction {
						position: absolute;
						text-align: left;
						left: 27%;
						bottom: 11%;
						p {
							font-size: 12px;
							&:last-child {
								font-weight: 600;
							}
						}
					}
					table {
						text-align: left;
						tr {
							&:first-child {
								background: rgba(162, 213, 110, 0.3);
								td {
									color: #417505;
									strong {
										color: #417505;
									}
								}
							}
							td {
								padding: 10px 6px;
								font-weight: 500;
								vertical-align: top;
								&:first-child {
									width: auto;
								}
								&:last-child {
									text-align: right;
								}
								.user-avatar {
									width: 30px;
									height: 30px;
									border-radius: 50%;
									overflow: hidden;
								}
								.user {
									p {
										img {
											position: relative;
											top: 0;
											left: 0;
											width: 12px;
											height: 12px;
											margin-left: 8px;
										}
									}
								}
								small {
									font-size: 11px;
									color: #555;
								}
							}
						}
					}
				}
			}
		}
	}
	@media all and (max-width: 991px) {
		.img {
			margin-right: 0;
		}
		.wrap-sim-detail-left {
			border-radius: 15px 15px 0 0;
			margin-right: 0;
		}
		.wrap-sim-detail-right {
			border-radius: 0 0 15px 15px;
		}
	}
	@media all and (max-width: 575px) {
		padding-top: 15px;
		overflow: hidden;
		.ct-auction{
			flex-direction: column;
			.ct-left{
				.btn-auction{
					margin-bottom: 30px;
				}
			}
		}
	}
}
.btn-auction {
	display: inline-block;
	height: 44px;
	background: #62b7e5;
	box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	font-weight: 600;
	padding: 0 20px;
	color: #fff;
	img {
		margin-right: 12px;
	}
	&.v2 {
		background: $c2;
	}
	&.v3 {
		background: $c1;
		&:hover {
			background: #62b7e5;
		}
	}
	&:hover {
		background: $c1;
	}
}
.sim {
	margin-left: -50px;
	margin-right: -110px;
	position: relative;
	img {
		width: 100%;
	}
	.caption {
		position: absolute;
		right: 29.4%;
		bottom: 25%;
		.number {
			font-size: 20px;
			font-weight: bold;
			color: $c1;
			line-height: 1.3;
		}
		p {
			color: #555;
			span {
				font-weight: 600;
				color: $c2;
			}
		}
	}
	@media all and (max-width: 1199px) {
		margin-right: -100px;
		.caption {
			right: 29%;
			.number {
				font-size: 18px;
			}
		}
	}
	@media all and (max-width: 991px) {
		margin-left: -15px;
		margin-right: -15px;
		.caption {
			right: 32%;
		}
	}
	@media all and (max-width: 767px) {
		.caption {
			right: 29%;
			.number {
				font-size: 19px;
			}
			p {
				font-size: 13px;
			}
		}
	}
	@media all and (max-width: 575px) {
		margin-right: -90px;
		margin-left: -45px;
		.caption {
			right: 28%;
			right: calc(100vw - 72%);
			margin-right: 110px;
			.number {
				font-size: 16px;
			}
			p {
				font-size: 11px;
			}
		}
	}
}
.wallet {
	padding: 0 20px;
	position: relative;
	border-radius: 15px;
	img {
		width: 100%;
		border-radius: 20px;
	}
	.value {
		position: absolute;
		left: 40px;
		top: 30px;
		font-size: 28px;
		color: #58efff;
		font-weight: bold;
		sup {
			font-size: 16px;
		}
	}
	.caption {
		position: absolute;
		left: 40px;
		bottom: 20px;
		display: flex;
		align-items: center;
		img {
			width: 34px;
			height: 34px;
			border-radius: 50%;
			margin-right: 12px;
		}
		.info {
			color: #fff;
			p {
				font-size: 12px;
				opacity: 0.6;
			}
		}
	}
}
.comment {
	background: #fff;
	box-shadow: 0px 2px 14px rgba(63, 75, 186, 0.15);
	border-radius: 15px;
	padding: 25px;
}
.sim-auction {
	background: #fff;
	box-shadow: 0px 2px 14px rgba(63, 75, 186, 0.15);
	border-radius: 15px;
	margin-bottom: 20px;
	display: flex;
	@media all and (max-width: 991px) {
		display: block;
	}
	@media all and (max-width: 575px) {
		background: none;
		padding: 0;
		box-shadow: none;
		border-radius: 0;
	}
	.left {
		flex: 0 0 43%;
		padding: 20px;
		@media all and (max-width: 991px) {
			flex: 0 0 100%;
		}
		@media all and (max-width: 767px) {
			padding: 15px;
		}
		@media all and (max-width: 575px) {
			padding: 0;
		}
	}
	.right {
		flex: 0 0 58%;
		background: #f7f7f7;
		padding: 20px 33px 30px 34px;
		@media all and (max-width: 991px) {
			flex: 0 0 100%;
			padding: 20px;
		}
		@media all and (max-width: 767px) {
			padding: 15px;
		}
		@media all and (max-width: 575px) {
			padding: 0;
			margin-top: 15px;
		}
	}
	.head {
		p {
			color: #555;
			margin-bottom: 5px;
		}
		.label {
			border-radius: 30px;
			height: 34px;
			background: #cdd1ff;
			color: $c1;
			text-align: center;
			line-height: 35px;
			font-weight: 600;
			padding: 0 27px;
			margin-top: 10px;
			&.gray {
				background: #c9c9c9;
				color: #fff;
			}
		}
		// .countdown{
		// 	display: inline-flex;
		// 	background: #000;
		// 	border-radius: 2px;
		// 	padding: 7px 8px;
		// 	.item{
		// 		background: linear-gradient(180deg, #FFFFFF 0%, #ECECEC 46.86%, #CECECE 100%);
		// 		border-radius: 2px;
		// 		height: 47px;
		// 		font-family: 'PT Sans Narrow', sans-serif;
		// 		width: 45px;
		// 		font-size: 23px;
		// 		line-height: 47px;
		// 		font-weight: bold;
		// 		text-align: center;
		// 		margin-right: 10px;
		// 		position: relative;
		// 		i{display: none}
		// 		&:after{
		// 			content: ':';
		// 			color: #696969;
		// 			font-size: 30px;
		// 			position: absolute;
		// 			right: -9px;
		// 			top: 50%;
		// 			line-height: 30px;
		// 			margin-top: -17px;
		// 		}
		// 		&:last-child{
		// 			margin-right: 0;
		// 			&:after{
		// 				content: none;
		// 			}
		// 		}
		// 	}
		// }
		@media all and (max-width: 767px) {
			text-align: center;
		}
	}
	.price {
		margin-top: 20px;
		p {
			margin-bottom: 5px;
		}
		strong {
			font-size: 25px;
			line-height: (29/25);
			i {
				margin-right: 10px;
				margin-top: -3px;
			}
		}
	}

	.ctrls {
		margin-top: 8px;
		.buy-now {
			height: 40px;
			width: 148px;
			border-radius: 5px;
			background: $c2;
			font-weight: bold;
			line-height: 40px;
			text-align: center;
			color: #fff;
			margin-right: 5px;
		}
		.buy-auto-auction {
			height: 40px;
			width: 148px;
			border-radius: 5px;
			font-weight: bold;
			line-height: 36px;
			text-align: center;
			color: $c2;
			border: solid 2px $c2;
			margin-right: 5px;
			input {
				height: 30px;
				border-radius: 2px;
				box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);
				padding: 0;
				text-align: center;
				border: none;
				margin-left: 10px;
				width: 100%;
			}
			&.v2 {
				width: auto;
			}
		}
		.help {
			@include middle;
			span {
				width: 14px;
				height: 14px;
				background: $c1;
				border-radius: 50%;
				display: block;
				color: #fff;
				text-align: center;
				font-size: 11px;
				font-weight: bold;
				line-height: 15px;
			}
		}
		&.v2 {
			display: flex;
			align-items: center;
			margin-bottom: 30px;
			.buy-auto-auction {
				flex: 1;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 10px;
				white-space: nowrap;
				position: relative;
				p {
					position: absolute;
					right: 0;
					font-size: 12px;
					color: #555;
					top: 100%;
					margin-top: -3px;
					font-weight: normal;
				}
			}
			.help {
				margin-left: 5px;
			}

			@media (min-width: 992px) and (max-width: 1199px) {
				flex-wrap: wrap;
				.buy-auto-auction {
					flex: 0 0 90%;
					margin-top: 10px;
				}
			}
			@media all and (max-width: 767px) {
				flex-wrap: wrap;
				.buy-auto-auction {
					flex: 0 0 90%;
					margin-top: 10px;
				}
			}
		}
		@media all and (max-width: 767px) {
			.buy-now {
				width: 110px;
			}
			.buy-auto-auction {
				width: 110px;
			}
		}
	}
	.group {
		border-top: solid 1px #d9dae0;
		padding-right: 20px;
		margin-right: -20px;
		margin-top: 20px;
		padding-top: 15px;
		&.no-border {
			border-top: none;
			padding-top: 0;
			margin-top: 15px;
		}
		.g-title {
			font-weight: 600;
		}
		table {
			td {
				color: #555;
				padding: 4px 0;

				&:first-child {
					width: 120px;
					padding-right: 15px;
				}
				strong {
					font-weight: 600;
					color: $c1;
				}
			}
		}
		@media all and (max-width: 767px) {
			margin-right: 0;
			padding-right: 0;
		}

		.group-list {
			margin-right: 25px;
			box-shadow: 0px 2px 24px rgba(48, 58, 150, 0.25);
			border-radius: 10px;
			padding: 18px 0 30px 30px;
			color: #000;
			@media all and (max-width: 991px) {
				margin-right: 0;
				padding: 18px 0 30px 15px;
			}
			.gl-title {
				font-size: 16px;
				color: #000;
				margin-bottom: 10px;
				strong {
					font-weight: 600;
				}
				span {
					color: $c2;
				}
			}
			table {
				width: 100%;
			}
			th {
				font-weight: 600;
				border-bottom: solid 1px #dfdfdf;
				// white-space: nowrap;
			}
			td {
				border-bottom: solid 1px #dfdfdf;
				padding-top: 12px;
				strong {
					font-weight: 600;
					color: $c1;
				}
				.plus {
					@include middle;
					margin-top: -5px;
				}
				&:first-child {
					width: auto;
				}
			}
			.group-list-scroll {
				max-height: 195px;
				overflow: auto;
				.mCSB_inside > .mCSB_container {
					margin-right: 20px;
				}
			}
			.mCSB_scrollTools {
				width: 6px;
				.mCSB_draggerRail {
					width: 6px;
				}
				.mCSB_dragger .mCSB_dragger_bar {
					width: 6px;
				}
			}
			@media all and (max-width: 575px) {
				th {
					line-height: 1.3;
				}
				td,
				th {
					padding-right: 5px;
				}
			}
		}
	}
	.charge-btn {
		color: $c2;
		font-weight: 600;
		font-size: 16px;
		@include middle;
		margin-top: 5px;
		&:hover {
			text-decoration: underline;
		}
	}
}

.countdown {
	display: inline-flex;
	background: #000;
	border-radius: 2px;
	padding: 5px 8px;
	.item {
		background: linear-gradient(180deg, #ffffff 0%, #ececec 46.86%, #cecece 100%);
		border-radius: 2px;
		height: 47px;
		font-family: "PT Sans Narrow", sans-serif;
		width: 45px;
		font-size: 23px;
		line-height: 47px;
		font-weight: bold;
		text-align: center;
		margin-right: 10px;
		position: relative;
		i {
			display: none;
		}
		&:after {
			content: ":";
			color: #696969;
			font-size: 30px;
			position: absolute;
			right: -9px;
			top: 50%;
			line-height: 30px;
			margin-top: -17px;
		}
		&:last-child {
			margin-right: 0;
			&:after {
				content: none;
			}
		}
	}
}

.auction-list {
	border-radius: 5px;
	box-shadow: 0px 2px 14px rgba(63, 75, 186, 0.15);
	overflow: hidden;
	table {
		width: 100%;
		border: none;
	}
	// td, th{
	// 	border: none;
	// 	@media all and (max-width: 767px){
	// 		padding-right: 5px;
	// 	}
	// 	&:first-child{
	// 		text-align: center;
	// 		width: 100px;
	// 		@media all and (max-width: 767px){
	// 			width: 45px;
	// 		}
	// 	}
	// 	&:nth-child(2){
	// 		padding-left: 25px;
	// 		@media all and (max-width: 767px){
	// 			padding-left: 0;
	// 		}

	// 	}
	// 	&:last-child {
	// 		text-align: right;
	// 		padding-right: 52px;
	// 		@media all and (max-width: 767px){
	// 			padding-right: 15px;
	// 		}
	// 	}
	// }
	th {
		background: $c2;
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 16px;
		padding-top: 15px;
		padding-bottom: 15px;
		&.v2 {
			background: #63a41e;
		}
		@media all and (max-width: 767px) {
			font-size: 14px;
		}
	}
	td {
		color: #555;
		line-height: 1.4;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	tr:nth-child(2n) td {
		background: rgba(107, 107, 107, 0.06);
	}
	small {
		font-size: 12px;
	}
	strong {
		color: #000;
	}
	.blue {
		color: $c1;
	}
	.red {
		color: $c2;
	}
	.user {
		position: relative;
		min-height: 30px;
		img {
			width: 30px;
			height: 30px;
			position: absolute;
			border-radius: 50%;
			left: -38px;
			top: 3px;
		}
		@media all and (max-width: 767px) {
			padding-left: 0;
			img {
				left: 0;
				display: none;
			}
		}
	}

	&.disabled {
		position: relative;
		.auction-list-scroll {
			pointer-events: none;
			filter: blur(4px);
		}
		.over {
			position: absolute;
			width: 340px;
			top: 38%;
			left: 50%;
			margin-left: -170px;
			background: #fff;
			box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.25);
			border-radius: 10px;
			text-align: center;
			padding: 29px 10px 22px 10px;
			.title {
				font-size: 16px;
				font-weight: bold;
				margin-bottom: 12px;
			}
			.i-btn {
				color: #fff;
				@include middle;
				width: 97px;
				height: 40px;
				line-height: 40px;
				margin: 0 4px;
			}
		}
	}
}
.auction-list-scroll {
	max-height: 480px;
	overflow: auto;
	&.v2 {
		@media all and (min-width: 768px) {
			max-height: 640px;
		}
	}
}

.mCSB_inside > .mCSB_container {
	margin-right: 0;
}
.mCSB_scrollTools {
	opacity: 1;
	width: 12px;
	right: 1px;
	.mCSB_draggerRail {
		width: 12px;
		background: #dfdfdf;
		border-radius: 0;
	}
	.mCSB_dragger .mCSB_dragger_bar {
		background: #818181 !important;
		width: 12px;
		border-radius: 0;
	}
}

.booking-box {
	margin-right: 52px;
	@media all and (max-width: 1199px) {
		margin-right: 0;
	}
	.box {
		background: #f4f5fa;
		border: 1px solid #303a96;
		border-radius: 5px;
		padding: 10px 20px 10px 20px;
		margin-top: 15px;
		@media all and (max-width: 575px) {
			padding-left: 14px;
			padding-right: 14px;
		}
	}
	.box-title {
		color: #000;
		margin-bottom: 6px;
	}
	.l-box {
		margin-right: 105px;
		display: flex;
		max-width: 280px;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5px;
	}
	.help {
		width: 14px;
		height: 14px;
		background: $c1;
		border-radius: 50%;
		@include middle;
		color: #fff;
		text-align: center;
		font-size: 11px;
		font-weight: bold;
		line-height: 15px;
		margin-top: -2px;
	}
	input[type="radio"]:not(:checked) ~ span {
		color: #555;
	}

	.note {
		margin-top: 5px;
		color: #555;
		font-size: 13px;
	}
	.form {
		position: relative;
		padding-right: 105px;
		min-height: 37px;
		.button {
			position: absolute;
			right: 0;
			width: 97px;
			top: 5px;
			height: 37px;
			border-radius: 5px;
			background: $c1;
			color: #fff;
			font-weight: 600;
			transition: all 0.12s ease-in-out;
			&.v2 {
				background: #fff;
				color: #63a41e;
				border: solid 2px #63a41e;
			}
			&.v3 {
				background: #fff;
				color: #555;
				border: solid 1px #555;
			}
			&:hover {
				background: $c2;
				border-color: $c2;
				color: #fff;
			}
		}
		&.v2-position {
			min-height: auto;
			.button {
				top: -60px;
			}
		}
		p {
			padding-top: 5px;
			color: #555;
			strong {
				color: $c1;
				font-size: 18px;
				font-weight: 600;
			}
		}
		table {
			line-height: 1.35;
			td:first-child {
				padding-right: 10px;
			}
			strong {
				color: $c2;
				display: block;
			}
			a {
				color: $c1;
				font-weight: 600;
				text-decoration: underline;
			}
			.c-form {
				position: relative;
				input {
					height: 24px;
					border: solid 1px #e0e0e0;
					border-radius: 5px;
					color: #000;
					width: 100%;
					padding-left: 7px;
				}
				button {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					width: 40px;
					color: $c1;
					background: rgba(63, 75, 186, 0.15);
					font-weight: 600;
					border-radius: 0 5px 5px 0;
				}
			}
		}
	}
	hr {
		border-color: #d9dae0;
		margin: 8px 0;
	}
	.i-number {
		position: relative;
		input {
			height: 44px;
			width: 100%;
			border: solid 1px #f1f2f7;
			background: #f1f2f7;
			padding: 0 5px 0 80px;
			text-align: center;
			font-size: 18px;
			font-weight: bold;
			color: #000;
			border-radius: 5px;
			box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
		}
		.n-ctrl {
			position: absolute;
			width: 32px;
			height: 32px;
			background: #fff;
			border-radius: 2px;
			text-align: center;
			font-weight: bold;
			font-size: 16px;
			line-height: 26px;
			color: $c1;
			top: 50%;
			margin-top: -15px;
			left: 11px;
			border: 0.2px solid #969696;
			&.down {
				margin-left: 38px;
			}
			&:hover {
				background: $c1;
				color: #fff;
			}
		}
	}
}
.radio {
	position: relative;
	padding-left: 25px;
	color: $c1;
	font-weight: bold;
	cursor: pointer;
	input {
		display: none;
		&:checked + i:after {
			opacity: 1;
		}
	}
	i {
		width: 18px;
		height: 18px;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: 0;
		background: #fff;
		border: 1px solid $c1;
		box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.3);
		&:after {
			content: "";
			display: block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: linear-gradient(180deg, #4a8bc6 0%, #004266 100%);
			margin: 2px;
			opacity: 0;
		}
	}
}

.page-ct {
	background: #fff;
	box-shadow: 0px 2px 14px rgba(48, 58, 150, 0.15);
	border-radius: 15px;
	padding: 14px 26px 15px 26px;
	@media all and (max-width: 767px) {
		padding: 14px 15px 15px;
	}
}
.policy {
	.title {
		color: $c1;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 17px;
		text-transform: uppercase;
	}
	.s-content {
		color: #000;
		line-height: 18px;
		p {
			margin-bottom: 20px;
		}
	}
}

.contact-form {
	margin-bottom: 35px;
	margin-top: 50px;
	@media all and (max-width: 767px) {
		margin-top: 35px;
		margin-bottom: 20px;
	}
	p {
		font-weight: 600;
		margin-bottom: 12px;
		color: #000;
	}
	input {
		height: 38px;
		border: solid 1px rgba(#818181, 0.5);
		margin-bottom: 25px;
		width: 100%;
		@include place(#818181);
	}
	textarea {
		display: block;
		border: solid 1px rgba(#818181, 0.5);
		margin-bottom: 25px;
		width: 100%;
		@include place(#818181);
		height: 104px;
	}
	button {
		background: $c1;
		color: #fff;
		font-weight: 600;
		height: 40px;
		width: 106px;
		border-radius: 5px;
		transition: all 0.2s ease-in-out;
		&:hover {
			background: $c2;
		}
	}
}

.contact {
	text-align: center;
	padding-top: 30px;
	.name {
		color: $c1;
		font-weight: bold;
		font-size: 22px;
		margin-bottom: 10px;
	}
	.social {
		margin-bottom: 28px;
		a {
			@include middle;
			color: #676767;
			margin: 0 7px;
			font-size: 18px;
			&:hover {
				color: $c1;
			}
		}
	}
	p {
		color: #000;
		line-height: 24px;
		margin-bottom: 20px;
	}
	@media all and (max-width: 767px) {
		padding-top: 0;
		padding-bottom: 10px;
		.social {
			margin-bottom: 20px;
		}
		p {
			margin-bottom: 15px;
		}
	}
}

.map iframe {
	height: 360px;
	display: block;
}

.setting-tb {
	.title {
		text-transform: uppercase;
		color: $c1;
		font-size: 16px;
		font-weight: 600;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	table {
		width: 100%;
		td,
		th {
			padding-right: 20px;
			padding-bottom: 10px;
			color: #000;
		}
		th {
			font-weight: 600;
		}
	}
	.ctrl {
		border-top: solid 1px #e0e0e0;
		margin-top: 10px;
		padding-top: 20px;
		margin-bottom: 22px;
		button {
			background: $c1;
			color: #fff;
			font-weight: 600;
			height: 40px;
			width: 106px;
			border-radius: 5px;
			transition: all 0.2s ease-in-out;
			&:hover {
				background: $c2;
			}
		}
	}
}

.load-more {
	margin-top: 30px;
	text-align: center;
	font-size: 16px;
	color: $c1;
	@media (max-width: 767px) {
		font-size: 14px;
	}
}
.text-c1 {
	color: $c1 !important;
}
.text-c2 {
	color: $c2 !important;
}
.text-green {
	color: #417505 !important;
}
.text-555{
	color: #555!important;
}
